[2017-02-02 11:40] CelestiaProject opened #1 "Eigen library update"
In the future, it would be nice to update the Eigen library because there was a lot of improvements in the mathematical part of it.

[2017-02-02 11:52] Alexell opened #2 "Star Flares"
In [this topic](https://celestiaproject.net/forum/viewtopic.php?f=10&t=16031) Chris developed diffractive refraction effect, which occurs when watching the stars through a variety of optical instruments (telescopes, binoculars, etc.)

Unfortunately, Chris has not completed the effect, so it is not the repository.

[2017-02-02 12:08] CelestiaProject opened #3 "Need to fix obs:gotolonglat error"
In Celestia 1.7.0 source code (even in the 5229 revision from SF), the error occurred: In CELX scripts where used obs:gotolonglat command, not processed **distance** parameter. The reason for this is unknown to me, but I think that error associated with porting the source code on a new mathematical engine **Eigen**.

[2017-02-02 12:23] CelestiaProject opened #4 "QT version localization"
Dialogs in the experimental **QT version** of Celestia available in English only. In the future, we need to organize a localization.

[2017-02-02 12:50] CelestiaProject opened #5 "Fade constellation boundaries and constellations figures"
The boundaries of the constellations fade at a distance of **1.6 AU** from the sun.
The figures of the constellations fade at a distance of **20 kpc** from the sun.

In fact, it turns out that the Earth's border is almost invisible. It needs to be fixed.

[2017-02-02 13:23] CelestiaProject opened #6 "Audio support for CEL/CELX scripts"
**Celestia-ED-1.6.1** contains the scripts with audio playback. Used **OpenAL** library.
I believe that to add audio playback for scripts in Celestia 1.7.0 is a good idea. But OpenAL library is outdated and need to use another.

[2017-02-03 20:00] CelestiaProject opened #7 "QT Celestial Browser sorting"
**_Need to fix a few defects in Celestial Browser (QT):_**
1. **Solar system**. Sort by name and type is not yet implemented.
2. **Stars**. Pressing the "name" button to sort by distance, not by name.
3. **Deep Sky Objects**. Pressing the "name" button to sort by distance, not by name.

[2017-02-04 13:03] Alexell commented on #3
**Write in celx:** `obs:gotolonglat(Earth, math.rad(0), math.rad(30), 3.5004702E14, 5)`
Celestia must go to Earth at a distance 3.5004702E14, but Celestia go to Earth center!
**File:** celx_observer.cpp
**String 363:** distance = distance / KM_PER_LY;
If comment this string, the Celestia go to Earth the correct distance.

[2017-02-04 13:12] Alexell commented on #3
[c81bd5f](https://github.com/CelestiaProject/Celestia/commit/c81bd5fed991c810a30d35be3fa6adfdf39c0730)

[2017-02-04 13:13] #3 closed

[2017-02-04 13:24] Alexell commented on #5
**File:** render.cpp
Maybe **Render asterisms** section.
Instead string `float dist = observerPosLY.norm() * 1e6f;`
write `float dist = observerPosLY.distanceFromOrigin() * 1e6f;` ???

[2017-02-04 13:25] Alexell commented on #5
Or just increase **1e6f** value...

[2017-02-04 13:27] Alexell commented on #6
Maybe **FMOD Ex** library?

[2017-03-02 17:58] Alexell opened #8 "Zodiacal Light"
Steve Albers proposed to implement the rendering of the **zodiacal light**, which appears after sunset and before sunrise. I support this idea.

[2017-03-02 18:25] CelestiaProject commented on #5
Now the constellation boundaries slowly fade in the distance of 70 AU from the Sun, and the constellations figures fade at a distance of 4 light-years from the Sun.
`float dist = observerPosLY.norm() * 1.6e4f;`

[2017-03-02 18:25] #5 closed

[2017-03-04 15:37] Alexell opened #9 "Image overlay in Celestia"
At the time, Vincent Giangiulio made many code patches for Celestia, one of them was made to display BMP, JPG or PNG images in Celestia using CEL/CELX scenarios.
Supported image scaling, setting transparency and positioning.

I believe that to add this for scripts in Celestia 1.7.0 is a good idea, but I want to hear the views of other Celestia users.

[2017-03-15 19:23] Alexell commented on #6
FMOD Ex will be added.

[2017-03-16 00:52] vpontin opened #10 "Windows Binaries"
Is there any binaries for this fork floating around?

I tried to compile using code blocks (TDM-GCC) but it gives me a lot of errors.

[2017-03-19 21:04] Alexell commented on #7
qtcelestialbrowser.cpp

[2017-03-19 21:17] Alexell commented on #7
Function `bool StarPredicate`
`    case Alphabetical:
        return false;  // TODO`

[2017-03-20 15:26] Alexell commented on #6
Original patch created by Victor (vhpgomes), modified by Vincent,
modified and adapted for **FMOD library** by Alexell.
Done:  [37ed932](https://github.com/CelestiaProject/Celestia/commit/37ed932d37efe5c4d4d6650cf8ed37ad6a251122)

[2017-03-28 09:36] CelestiaProject opened #11 "CELX starcolor/starstyle with menu item sync"
New CELX commands have been added:
[code]

When executed, the new values are stored in the registry, but the menu items (Render->Star style & render->Star color) do not change their position (not synchronized).

[2017-03-28 09:39] CelestiaProject commented on #10
@vpontin Windows Binaries for review and tests will be published on the [forum](https://celestiaproject.net/forum/) in April-May.

[2017-03-28 09:51] CelestiaProject commented on #11
At the same time, need to correct the order of the menu items Render->Star style.
Should be:

- Points
- Fuzzy Points
- Scaled Discs

[2017-03-28 14:15] Alexell commented on #11
Synchronization with menu for StarStyle described in winmain.cpp - syncMenusWithRendererState() function. Sync for StarColor and TextureResolution added in syncMenusWithRendererState() function by Leserg.
But methods celestia:setstarcolor() and celestia:setstarstyle() are not described in the Windows interface, so I can not use syncMenusWithRendererState() function for synchronization.

[2017-03-28 14:16] Alexell commented on #11
Render->Star style order I'll do today.

[2017-03-28 14:39] Alexell commented on #11
Changed order of Render->Star style menu items ([f79990a](https://github.com/CelestiaProject/Celestia/commit/f79990aa36e2818dca9605f879ab637ccef4d233))

[2017-03-28 15:46] CelestiaProject commented on #6
Need additional testing and code analysis, because celestia.exe sometimes crash, and source code compilation is not always successful.

[2017-03-28 15:49] CelestiaProject commented on #11
Need to create StarStyle & StarColor sync with menu.

[2017-03-28 18:16] Alexell commented on #6
Added lost classes in command.cpp
CELX method work correctly.
CEL method error (need to fix).

[2017-03-28 18:54] CelestiaProject commented on #6
Need additional testing, because celestia.exe and celestia qt.exe sometimes crashes with **fmod.dll exception**

[2017-03-28 21:13] Alexell commented on #9
Image overlay added with [3d92e4d](https://github.com/CelestiaProject/Celestia/commit/3d92e4ddb45090b442810cd5acf69d435e229f2d).

[2017-03-28 21:13] #9 closed

[2017-04-19 07:05] CelestiaProject commented on #1
Done in [27223e3](https://github.com/CelestiaProject/Celestia/commit/27223e31ef8d1ac524c451b3c676319b71a49434) by @dbrant

[2017-04-19 07:05] #1 closed

[2017-04-19 07:05] #10 closed

[2017-04-19 07:07] CelestiaProject commented on #6
Need help to fix FMOD support to work properly on Win32, Win64, QT, Linux, MacOS.

[2017-04-19 07:08] CelestiaProject commented on #6
@dbrant, we need help to fix FMOD support to work properly on Win32, Win64, QT, Linux, MacOS.

[2017-04-19 08:08] CelestiaProject commented on #7
@ajtribick, Maybe you can help us?

[2017-04-19 08:16] CelestiaProject commented on #7
We think:
1. Add the fourth column "Asteroids and comets", and in the column "Solar System" show only the Planets, Dwarf Planets, Moons and Small Moons.
2. Perhaps for spacecraft need a fifth tab, because with a large number of additions, it would be convenient to see all the spacecraft separately.
3. We think that you can make the browser more informative and useful. The browser should contain mo

[2017-04-19 08:17] CelestiaProject commented on #7
**In order not to increase the size of the Celestial Browser:**
There is a vertical scroll in the catalog table. Just add a horizontal scroll bar in table bottom. Then you can not change the size of the browser, and the columns that do not fit the width can be seen by sliding the horizontal scoll.

[2017-04-19 19:10] coder543 opened #14 "Cannot build on Linux"
All of the instructions insist that you just need to run

[code]

However, there is no `configure` file, only `configure.in`. Attempting to run `autoconf` fails with all kinds of errors, so I can't seem to generate the configure file myself.

[2017-04-19 21:52] CelestiaProject commented on #14
Building for Linux has not tested yet. [Details about Celestia for Linux](https://en.wikibooks.org/wiki/Celestia/Development/Linux_platform#Basic_installation_steps).

[2017-04-27 01:57] dbrant commented on #6
I have a couple of concerns about the choice to use FMOD instead of OpenAL, specifically when building for Linux:
- I'm not familiar with FMOD, but it looks like it's a commercial (closed-source) library. Because of this, it's not available in any package manager of any Linux distribution. Therefore, if a volunteer (like me) wants to start contributing, they would need to manually go to the fmod w

[2017-04-27 09:38] CelestiaProject commented on #6
@dbrant, The FMOD website says "Free for small teams".

I wrote a letter for FMOD asking for permission to use FMOD in Celestia. Permission was given, we can use FMOD under the [EULA license](https://www.fmod.org/eula/).
It is written there:

As I understand it, it suits us.

Of course I have an account to download the FMOD libraries (I can send you archives of the library, for example to the emai

[2017-06-03 16:59] lodp opened #15 "CMake Error in Visual Studio 2017"
Hi getting the following CMake error - anyone tell me what I'm missing please?

1> Command line: C:\PROGRAM FILES (X86)\MICROSOFT VISUAL STUDIO\2017\COMMUNITY\COMMON7\IDE\COMMONEXTENSIONS\MICROSOFT\CMAKE\CMake\bin\cmake.exe  -G "Visual Studio 15 2017" -DCMAKE_INSTALL_PREFIX:PATH="C:\Users\Stephen\AppData\Local\CMakeBuild\01ec6fa0-891c-e932-b1f6-102a4aedd859\build\install"  -DCMAKE_CONFIGURATION_TY

[2017-06-21 22:37] drzraf opened #16 "provide a Debian Stretch package"
or maybe even provide a base /debian/ directory.

Context: Stretch (new stable), dropped Celestia. That's a huge loss for the Debian ecosystem and users.
(and, incidentally, the loss of the source of possible contributors  too)

* The _reason_:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=809916
* The Debian's package page:
https://packages.debian.org/jessie/celestia
* Debian's needed customi

[2017-07-12 13:38] CelestiaProject commented on #15
https://celestiaproject.net/forum/viewtopic.php?f=15&t=17702

[2017-07-12 13:38] #15 closed

[2017-07-12 13:55] CelestiaProject commented on #14
@anordal Your changes intersect with the changes that we made this year. Your changes intersect with the changes that we made this year. Do your changes give a stable version of Celestia for Linux along with Lua 5.3?

[2017-07-12 14:21] CelestiaProject commented on #16
@drzraf Alexell does not work with Linux and is absolutely not familiar with the above. Now we do not have a person who understands the Celestia code for Linux.
Please describe, what exactly should we do to solve the problem? Who can do this?

[2017-07-12 15:04] drzraf commented on #16
[ ] someone using Debian who already did a Debian package (or want to learn it)
[ ] install the necessary Linux build environment for Celestia
    The most standard are the build-tools needed (autotools, cmake, ..) the better/simpler
[ ] build, run and test Celestia on Debian

From this one could create Debian necessary files (possibly modifying old version) which stipulate some characteristics of

[2017-07-12 15:31] CelestiaProject commented on #16
@drzraf You are well versed in what you write. Maybe you can do everything yourself? We will be very grateful for the help.

[2017-07-12 18:36] azrdev opened #17 "Options dialog only appears once"
Celestia 1.6.1-6 on archlinux rolling here (gtk2 version 2.24.31-1). Opening the Options dialog works fine for the first time after celestia startup. Every subsequent click on the menu item does nothing, but yields the following messages on the command line:
[code]

[2017-07-14 15:04] anordal commented on #14
Yes, Celestia runs fine here with Lua 5.3 on Linux as far as I can tell (dunno what lua specific issues to look for).

[2017-07-15 19:39] CelestiaProject commented on #14
@anordal Please install Lua Edu Tools, check the correctness of its work and check several (any) CELX scripts.

[2017-07-15 19:43] CelestiaProject commented on #17
@dbrant Look please, maybe you know what the problem is here?

[2017-07-16 23:57] anordal commented on #14
That's some nice testing tips. I see the solution taken here (commit 0452b0aaeae) is to bundle Lua 5.1.

Note that my Lua 5.2 patch was made by Fedora maintainers back in 2013… So if you're saying that doesn't work, then *at least* the Fedora packages have been broken for years! I would assume other distros have applied equally desperate patches to keep it compiling in this decade.

I patched it f

[2017-07-24 19:20] dbrant commented on #17
I'm afraid I have zero familiarity with GTK... (I haven't touched that part of the code)

[2017-07-28 15:36] CelestiaProject commented on #14
@anordal Do you have full Celestia source code with Lua 5.2 or 5.3? We would like to get it to build for Windows for testing CELX scripts and LUA tools.

[2017-07-30 23:05] anordal commented on #14
Only what I cloned myself, I haven't tried upgrading Lua in this project (yet).

[2017-08-31 21:32] scottmmjackson commented on #14
4e947ef387b554c68fc32da95a2a2bcdee3e1f78 is the closest I can get to the last commit that actually builds on Linux:

Dependency instructions are deb/ubuntu specific but the rest should be roughly platform-independent
[code]

HTH

The most recent commit is broken and impossible to build. It apparently uses some proprietary windows-only `fmod` library without wrapping it in an `#ifdef _WIN32_` block

[2017-09-01 21:01] nisselarsson commented on #6
FMOD support is guarded with _WIN32 ifdefs now.

[2017-10-01 01:38] fgeorgatos opened #23 "Is Celestia's accuracy within desired bounds?"
Hi,

if you recall, I had reported more than a dozen years ago the following issue, ie. tracking Xerxes eclipse' shadow via Celestia should cast a plausible totality path:
https://www.quora.com/What-is-the-most-interesting-bug-you-have-ever-solved-in-a-computer-program/answer/Eur-Ing-Fotis-Georgatos

However, I had a look at it again and it makes me doubt the accuracy - your comments?!

thanks for

[2017-10-05 10:34] CelestiaProject commented on #23
@fgeorgatos Hi. Please provide a cel:// URL for the event, which ephemeris he's using, and exactly what the timing problem seems to be.
The accuracy of the Earth's orbital path and rotational speed in Celestia have undergone many improvements, but the default ephemerides provided in Celestia aren't as accurate as many professional epmemerides, especially over long periods of time. When high precis

[2017-10-07 10:10] netapau commented on #16
I tried to install Celestia on Stretch and I had problems with glu.h, libjpg, libpng and the version of lua requested is too old, even after having successfully configured the make failed
may be helpful

[2017-10-25 19:25] TheBigW commented on #16
ok, I and especially are missing celestia for some time now. My first attempt was as well to just build from the code for 1.6.1 from the celestia projetc page (how hard can it be...). Some code fixes later a linker error stopped me. Today I got it running for the first time after some years on Ububtu 17.10.

What next? Is there some way to provide my changes and bring celestia back some time?

One

[2017-10-25 22:35] drzraf commented on #16
Great @TheBigW.
Do you think that `-ldl` compilation tweak was [this one in the previous Celestia Debian package](https://sources.debian.net/src/celestia/1.6.1%2Bdfsg-3.1/debian/patches/add_missing_ldl.patch/) ?
See https://sources.debian.net/src/celestia/1.6.1%2Bdfsg-3.1/debian/patches/ (OP) for the list of patches needed to build Celestia in previous Debian releases.

I've the impression that st

[2017-10-26 19:25] TheBigW commented on #16
Hi drzraf,
the -ldl mentioned above shall work but as far as I have seen only fixes it in the configure file. If I am not wrong the next ./configure would override it - but for building the package this will work (still better than manual linking on command line :) ).
One question: I used the Ubuntu src package I found as zip for download. This works for me but of course misses all the Debian spec

[2017-10-27 15:41] TheBigW commented on #16
ok, I found a source package here (basically the same I got on the ubuntu package page):
http://http.debian.net/debian/pool/main/c/celestia/celestia_1.6.1+dfsg.orig.tar.gz
problem is that to maintain the history, changelog etc. I would propably need the complete debian subfolder from your source link. If it is ok to build from above source package form scratch I can proceed but the previos deb/pac

[2017-10-28 16:58] drzraf commented on #16
* [Intro to Debian packaging](https://wiki.debian.org/Packaging/Intro)
* [Non-maintainer upload](https://wiki.debian.org/NonMaintainerUpload)
* [Debian science Package Policy](http://debian-science.alioth.debian.org/debian-science-policy.html)
 (there is also a [Debian Astro](https://wiki.debian.org/DebianAstro) group)

and to reply (maybe) more specifically to the point:
* [Importing already exis

[2017-10-28 20:15] gsliepen commented on #16
In order to get Stellarium back into Debian, you need to address the reasons I had to remove it in the first place:

- Make proper releases.
- If you want to have Stellarium in Debian's main archive, then ensure it comes with DFSG compatible data files.
- Make sure it runs properly on contemporary hardware runnign Linux. Test it with reasonably recent AMD, Intel and Nvidia cards.
- Ensure it compi

[2017-10-28 21:38] TheBigW commented on #16
just when I finished to create the 1st unsigned deb packages for testing :). Basically it would be fine for me (and maybe others) if there is any way to get it installed/running on debian/Ubuntu again at all. This does  not necessarily mean to have it as part of the debian main archive.
Problem at the moment is that there is no way as non of the packages (neither the old deb package nor the packag

[2017-11-07 20:52] TheBigW commented on #16
Ok, looks like the celestia team has heard us and develops a new QT5 version for windows right now :) :

https://github.com/CelestiaProject/Celestia

I got it compiled for Ubuntu now and it works out of the box. I will discuss with them how to get my changes back to them and I will also see how to get a .deb binary package done.

Is this something to be considered again or shall I rather just focu

[2017-12-04 06:26] m23project commented on #16
Hi,

here comes my step-by-step instruction for creatung a celestia package for Debian 9.

Happy building :-)

# Install build dependencies
apt-get install git build-essential autoconf debhelper freeglut3-dev liblua5.1-dev libgnomeui-dev libgtkglext1-dev libtheora-dev chrpath libjpeg-dev

# Fetch the source
git clone https://github.com/CelestiaProject/Celestia.git

# Configure it
cd Celestia
autor

[2017-12-04 15:08] gsliepen commented on #16
On Mon, Dec 04, 2017 at 06:26:59AM +0000, m23project wrote:

This is NOT how proper Debian packages should be built. This will never
be accepted in Debian, and I think you are doing others a disservice by
presenting these instructions.

Please see https://wiki.debian.org/Packaging/Intro and/or the links
posted by @dzraf.

--
Met vriendelijke groet / with kind regards,
     Guus Sliepen <guus@tinc-

[2017-12-11 08:13] CelestiaProject commented on #23
Closed due to inactivity.

[2017-12-11 08:14] CelestiaProject commented on #6
It is necessary to use QT Audio.

[2017-12-11 08:15] CelestiaProject commented on #14
Closed due to inactivity.

[2017-12-11 08:15] #14 closed

[2017-12-11 12:23] scottmmjackson commented on #14
Is support for Linux being dropped, then?

[2017-12-11 23:06] anordal commented on #14
I'll keep my fork building anyway.

[2017-12-12 20:20] fgeorgatos commented on #23
Hi,

apologies, I hadn't seen the URL request, here it is:
`cel://Follow/Sol:Earth/-479-10-02T14:29:03.58957?x=GPnqpYdeUf///////////w&y=00pztYE6/////////////w&z=SEf71VtMhw&ow=0.897901&ox=-0.00160906&oy=0.440194&oz=-0.000684459&select=Sol:Earth&fov=23.3578&ts=-100&ltd=0&p=0&rf=313239&lm=0&tsrc=0&ver=3`

If you check carefully, you'll notice that totality path of said eclipse is supposed to transit

[2017-12-17 18:32] munix9 commented on #14
fyi:
qt5 builds (git main) for current openSUSE distros on obs
https://build.opensuse.org/package/show/home:munix9/celestia
https://software.opensuse.org//download.html?project=home:munix9&package=celestia
ciao

[2017-12-19 18:50] anordal commented on #14
@munix9 Thanks, it works! My favourite distro. And qt5, wow! 🥇

Mouse interaction is very buggy in Xwayland though (unusable if the window is extended over two screens), but that might very well be a qt's fault – my very stripped down version works fine.

[2018-01-12 15:23] iglosiggio commented on #16
Hi! I'm currently working on a package for the debian-based distro [HuayraLinux](https://github.com/HuayraLinux). When i have a mostly usable package (using the Qt5 frontend) (and `debian/` folder that recreates it) i will update this.

I've seen that earlier versions of celestia were split in several packages on debian (mostly for legal resons). Can anyone give me some support on what-goes-were?

[2018-01-13 22:23] nortikin commented on #14
make
make: *** has not defined aims

how to make?

[2018-01-13 22:30] nortikin commented on #14
ok
configure: error: No glut.h found. See INSTALL file for help.

[2018-01-13 22:35] nortikin commented on #14
ok.
bunch of issues in terminal in make, followed all recomendations https://github.com/CelestiaProject/Celestia/issues/14#issuecomment-301240090 here and https://github.com/CelestiaProject/Celestia/issues/14#issuecomment-326426389 there
[code]

[2018-01-13 22:37] nortikin commented on #14
i hope it will install...

[2018-01-13 22:41] nortikin commented on #14
ok, it works!!!!

[2018-02-01 15:34] iglosiggio opened #30 "Update pot files"
While making progress on packaging Celestia (QT5) for debian  i've stumbled upon the lack of a full translation for the interface.

I'm will to provide an ~ almost_good ~ translation to spanish after i finish [this](https://github.com/HuayraLinux/pkg-celestia), but in the meantime i think that making this an issue can help a lot in the translation to other languages.

I'm attaching the `.pot` file

[2018-02-01 16:57] iglosiggio commented on #30
I've just realized that this corresponds to #4

[2018-02-07 08:57] ramsinghdayal opened #31 "Geometry Issue"
How to make geometry in Celestia using a modified Mars IAU reference system (non rotating system with the X-axis pointing to the direction of the mean equinox at J2000.0 epoch, Z-axis parallel to the planet rotation axis and Y-axis orthogonal to the former ones so that the system is right handed oriented). The planet rotation is counterclockwise ?

[2018-02-08 15:29] furquan-lp opened #32 "[linux installation] autopackage.org is dead, please provide alternate installation method(s)."
Running the `.package` file I get the following messages:

[code]

It seems that the file tries to download **http://autopackage.org/downloads/latest/x86_64/autopackage.tar.bz2** which no longer exists and redirects to some other irrelevant website. The installation can't proceed from here; is there any other way to install celestia sans building from the source-code itself?

[2018-03-12 16:42] 375gnu opened #34 "panning is broken"
When one starts panning (horizontal or vertical movement of a camera) the camera "jumps" (usually up and right) and then continues to move properly.

This issue exist only with a Qt version, not with a glut one.

[2018-04-15 21:19] mmontag opened #39 "SourceForge vs. Github"
Which repository is the canonical source location, Github or SourceForge (https://sourceforge.net/projects/celestia/?source=directory)? Should we add a message at the SourceForge repository if this is now the place for active development?

[2018-04-18 19:43] deostroll opened #40 "Make error ... Makefile:1473"
I am getting an error as follows during make:
[code]
What am I missing?

[2018-04-20 17:09] CelestiaProject commented on #30
@Alexell , you need to check the correctness of the POT file generated by the script.

[2018-04-20 17:12] CelestiaProject commented on #34
Do you have any ideas how to solve the problem?

[2018-04-20 17:16] CelestiaProject commented on #39
@mmontag , Celestia repository on SourceForge has not been updated for a long time and will no longer be updated.
Chris Laurel in 2016 instructed us to move the repository to GitHub.

[2018-04-24 00:12] gstark31897 commented on #34
Hey, do you guys mind if I work on this? I made a pull request that should address this.

[2018-04-24 05:11] CelestiaProject commented on #34
@gstark31897 Of course, do not mind. The main thing that everything worked!

[2018-04-24 05:13] CelestiaProject commented on #4
#33

[2018-04-24 05:14] CelestiaProject commented on #4
#33

[2018-05-02 23:28] gstark31897 commented on #7
I made a pull request addressing name sorting on some of the tabs: https://github.com/CelestiaProject/Celestia/pull/43
The TreeView is a little more complicated to get sorting, so I might try working on the "Asteroids and comets" and spacecrafts tabs next.

[2018-05-03 07:53] #34 closed

[2018-05-03 07:58] CelestiaProject commented on #7
@gstark31897 Thank you. Later we will check the work of your changes. We will be grateful if you completely solve the sorting problem described in the first message.

[2018-05-03 11:57] gstark31897 commented on #7
Alright, I'll focus on finishing up the solar system sorting then. Thanks.

[2018-05-05 11:15] 375gnu commented on #17
@azrdev, could you test the following patch:
[code]

[2018-05-05 11:22] 375gnu opened #45 "Coverity issues"
Hi!

I've scanned the latest Celestia code using [Coverity](https://scan.coverity.com/) tool and it has found 182 issues.

Scan results can be found [here](https://scan4.coverity.com/reports.htm#v37293/p14711)

I'll try to fix them.

[2018-05-07 15:55] Alexell commented on #45
@375gnu Coverity does not allow viewing on your link (at least without authorization). But I'm aware of the presence of unfinished places in the code. I would be grateful if you could help me finish them.

[2018-05-07 15:57] Alexell commented on #45
On our forum there are a lot of **messages about Celestia QT bugs**, but I do not have enough time to go to the forum yet.

[2018-05-07 17:14] 375gnu commented on #45
Indeed, it requires authentication. I've sent you an invitation. https://scan.coverity.com/projects/celestia.

I'm not familiar with QT, 3D and astronomic programming, but I like Celestia so I just do what I can.

[2018-05-14 16:55] CelestiaProject commented on #6
@pirogronian Channel is the definition of FMOD. But this is not left, right, or center. For this, there is pan. FMOD must be completely removed from the Celestia code. The new version of Celestia will be built **only with QT**. And QT has built-in audio support (**QT Audio**). Please try to understand how it works and include it.

[2018-05-16 16:19] pirogronian commented on #6
@CelestiaProject Qt Audio doesn't have pan support. On the other side, OpenAL is designed to be fully 3D. I don't know if it's outdate or not, but its api looks most usefull from all I have seen working on sound in Celestia.

[2018-05-16 22:59] CelestiaProject commented on #6
@pirogronian In general, we do not need PAN support. Although sometimes in scenarios, using panning sound would be interesting. Should we include a third-party library for PAN support?
Let's discuss. In what way can you support audio in mp3 and wav formats (at least the basic commands: play, pause, stop, volume, loop)?

[2018-05-17 00:35] pirogronian commented on #6
For simple layback, Qt will be completely suffcient, I think. And I can implement it with script interface almost identical to this, desgned for FMOD.

[2018-05-17 16:03] CelestiaProject commented on #6
@pirogronian Please do it.
To start, please completely remove the FMOD includes from the source code, then replace the parts of the code that cause the FMOD to play audio to the code for QT. All the changes made earlier for audio playback you can see in this commit: https://github.com/CelestiaProject/Celestia/commit/37ed932d37efe5c4d4d6650cf8ed37ad6a251122
Please, after the playback through QT is

[2018-05-23 15:04] Alexell commented on #6
@pirogronian Celestia code with latest changes **compilation failed** with **QT 5.9.2 (release MSVC2015 32bit/64bit and MinGW 32bit)**.
Swears that identifiers are not found in **celx.cpp**:
[code]
Can you fix it?

[2018-05-23 17:52] pirogronian commented on #6
It's probably due to different direction of iteration over lua versions list in celestia.pro. What works on my system,, fail on yours and vice versa. Solution would be rewrite of version detection. However, I have to think on it yet.

[2018-05-24 09:13] Alexell commented on #6
@pirogronian Unfortunately, nothing has changed. All the same errors in the **celx.cpp** file
Your changes were in the **unix** section, and I'm talking about compiling Windows x86/x64

[2018-05-24 09:54] pirogronian commented on #6
@Alexell
I don't understand. Lua_ver is set only in unix section, so on Windows
preprocessor condition should activate code for lower versions. However,
without windows I there will be problem to recreate whats going on.

W dniu czwartek, 24 maja 2018 Alexell <notifications@github.com> napisał(a):

the celx.cpp file

Windows x86/x64

https://ci5.googleusercontent.com/proxy/RosnDDQy0QjoyKnxyV-75NeR

[2018-05-24 12:25] pirogronian commented on #6
My story is following: once I pulled changes to prepare playback commit, compilation blew up with the same errors, as @Alexell mentioned. I discovered this lua version detection loop in unix section of celestia.pro and reverted list, which fixed problem. So, when AlexelI posted about the issue, I though it's due my reverted list. But in this situation it's probably related to this [commit](https:/

[2018-05-25 14:01] Alexell commented on #6
@pirogronian Yes, these were the errors of luaL_newstate and other identifiers that I pointed out. Now at compilation of these errors already is not present, but there are others, concerning QtAudioManager. If I can not fix them, I'll write about it.

[2018-05-28 10:54] Alexell commented on #6
@pirogronian You implemented audio playback only for **.celx** scripts. My commit has fix code for the correct work of **.cel** scripts.
**But there was one problem:** in .cel or .celx scripts on Windows audio playback **does not work**. The script runs fine, no errors occur (including in the console), but audio files are not played.
In addition, the construct `fpath.cd (CONFIG_DATA_DIR);` does no

[2018-05-28 13:20] pirogronian commented on #6
Yes,on Linux playback is brilliant. Tested many times. However I just
noticed lack of error message code in case of path being absolute.

W dniu poniedziałek, 28 maja 2018 Alexell <notifications@github.com>
napisał(a):

commit has fix code for the correct work of .cel scripts.

playback does not work. The script runs fine, no errors occur (including in
the console), but audio files are not played.

[2018-05-28 18:14] Alexell commented on #30
@iglosiggio Thanks for the script!

[2018-05-28 20:55] pirogronian commented on #6
In fact, I didn't forget about *.cel, just didn't know what it is and where is its code. Additionally, errors throwed by cel scritps were without any description.
When I tested nopause parameter, setting it to false caused stopping playback after pressing space. Will check it again, probably tomorrow. Thanks for response.

[2018-05-28 21:35] #30 closed

[2018-05-28 22:27] Alexell commented on #17
GTK will no longer be supported.

[2018-05-28 22:31] #39 closed

[2018-05-28 22:33] Alexell commented on #7
#43

[2018-05-28 22:34] Alexell commented on #7
#43 already done.

[2018-05-28 23:24] Alexell opened #53 "Create the same command but for .CEL scripts"
At the request of users, we need to create new .cel command by analogy with .celx `celestia:setwindowbordersvisible()` command.

[2018-05-29 14:37] pirogronian commented on #6
Just checked. Celx script works with audio, however, indeed, nopause parameter don't work. Cel script has no audio and no console output.
(Celx debug output, I forgot to remove it before submit PR):

Where to look for Cel script operation code?

[2018-05-30 10:02] Alexell commented on #6
@pirogronian On Windows the sound works, I wrote earlier. At first it did not work, because there were not enough dlls.

[2018-05-30 10:58] pirogronian commented on #6
@Alexell indeed, I confused "now" with "no"... So, when my pause fix will be commited, will this issue finally closed?

[2018-05-30 11:39] Alexell commented on #6
@pirogronian After PR merge, I'll also check **loop** and **nopause** parameters conformity for the description, which is written for them in demo scripts.

[2018-05-30 15:51] 375gnu opened #55 "Undefined Q_NAMESPACE"
Hi @pirogronian,

I'm compiling on Debian 9 based system, Qt version is 5.7.1.

[code]

Q_NAMESPACE was introduced in Qt 5.8, we should support older versions used by current OSes.

[2018-05-30 18:38] pirogronian commented on #55
I added Q_NAMSPACE when I though it is needed, however later I realized it isn,t but forgot to remove it. Sorry for that.

[2018-06-06 10:19] Alexell commented on #55
In any case, we use QT 5.9 to compile Celestia, so it's not important.

[2018-06-06 12:01] Alexell commented on #4
Everything is working.

[2018-06-06 12:01] #4 closed

[2018-06-06 12:01] Alexell commented on #6
Everything is working.

[2018-06-06 12:01] #6 closed

[2018-06-06 12:03] Alexell commented on #11
Need to check for QT.

[2018-06-06 12:16] 375gnu commented on #55
You use 5.9 but there are still a lot of systems which use older versions. Debian 9 is a current stable and will be supported for the next ~4 years, Ubuntu 16.04 (EOS in 2021) uses 5.5, Ubuntu 14.04 uses 5.2 (EOS in next year). I don't know about other OSes.

So if your target is only you and some of your friends then you may not care about older OSes but if you target it for wider audience then y

[2018-06-06 12:28] Alexell commented on #55
@375gnu If all this is so, then you are right.
I work only on Windows and for me there is no problem installing any version of QT.
I hope that @pirogronian will fix the problem.

[2018-06-08 19:14] 375gnu opened #59 "Modernize codebase to C++11?"
Celestia uses quite outdated C++ standard. It would be good to convert it into C++11: `auto` keyword, simplified iterators, default constructors, `shared_ptr`/`unique_ptr` to simplify memory management.

1, 2 & 3 can be done automatically using clang-tidy.

What do you think of this?

[2018-06-15 12:10] Alexell opened #60 "GLEW initialize error"
Hi all.
Celestia run perfectly and work on my computer **with QT installed**.
But when running on a computer where there is no installed QT, Celestia produces an error:
**Celestia was unable to initialize OpenGL extensions (error 1). Graphics quality will be reduced.**

An error occurs when glew initializing (src/celestia/qt/qtappwin.cpp line 260).

How can I fix it?

[2018-06-15 14:10] Alexell commented on #55
@375gnu @pirogronian I will soon have a new computer and I think I will not install QT 5.9.2 (Windows), if this is not really necessary.
Can I compile Celestia on previous versions? Which version do you recommend to me?
So I can also notice if there are compatibility problems in the future.

[2018-06-15 14:16] Alexell commented on #59
This is a great idea. I remember somewhere I saw a similar proposal, but it was a long time ago.
Also in the future, make changes to the memory for the 64-bit Celestia version to speed up its work, because now there is no difference between the two.

[2018-06-15 14:50] 375gnu commented on #55
I'd like to say that support for Ubuntu 14.04 & Debian 8 shipping 5.2.x and 5.3.x Qt version, but their compilers don't support C++ 11 fully, and we have 2 stable releases for Ubuntu and 1 for Debian, so 5.5 or 5.7 as lowest supported version is a good start. RedHat 7 and Suse 12 have 5.6.2.

I don't know exactly but suspect that OSX users can install any version like Windows users.

So to be sure

[2018-06-15 14:53] Alexell commented on #55
@375gnu Goog. Then on the new computer I install QT 5.5 and will report if there are problems with the compilation. Thanks!

[2018-06-15 14:53] #55 closed

[2018-06-15 15:07] 375gnu commented on #60
Do you link Qt libs statically so it starts without Qt installed?
I'd check whether that system has proper OpenGL subsystem, afaik default video drivers installed by Windows might lack OpenGL support.

[2018-06-15 15:30] Alexell commented on #60
@375gnu I'm not doing anything, just doing the compilation of celestia.pro in QT Creator. Then I place the executable file in the Celestia 1.6.1 folder and add the necessary dll files: libintl_x86.dll, Qt5Core.dll, Qt5Gui.dll, Qt5Multimedia.dll, Qt5Network.dll, Qt5OpenGL.dll, Qt5Widgets.dll, platforms/qminimal.dll, platforms/qoffscreen.dll, platforms/qwindows.dll

On two computers where I tried to

[2018-06-15 15:53] Alexell commented on #60
Now found out that Celestia 1.7.0 works on NVIDIA and other GPU, but does not work on integrated Intel GPUs.
**Checked on the following:**
`Vendor: Intel
Renderer: Intel(R) HD Graphics
Version: 3.1.0 - Build 9.17.10.4459
GLSL version: 1.40 - Intel Build 9.17.10.4459
Max simultaneous textures: 8
Max texture size: 8192
Point size range: 1.000000 - 20.000000`

**and**
[code]

It is important that on

[2018-06-15 16:13] Alexell opened #61 "Splash fix"
Now in the **Celestia QT**, a fictitious process of loading Celestia from 0 to 100 percent is written on splash image.
Instead, we need to display loading files, like as Celestia 1.6.1 (as src/celestia/win32/winsplash.cpp).

[2018-06-15 16:21] 375gnu commented on #60
You might be missing some dynamically loadable opengl modules for qt5. https://doc.qt.io/qt-5/windows-requirements.html is a good start to get info about how to run opengl with qt5 and windows.

[2018-06-15 16:57] Alexell commented on #60
Any dlls specified in this document, I already tried to add in Celestia folder (with compiled execulable), but nothing helped.
It will be hard for me to understand the entire document, to translate it into my native language for a long time.

[2018-06-24 09:03] 375gnu opened #62 "z-dist.celx doesn't return control to the applcation"
```Error: Timeout: script hasn't returned control to celestia (forgot to call wait()?)```

It seems that one of the recent changes introduced this, I'll bisect and fix.

[2018-06-24 20:19] vlad1777d commented on #39
GitLab =)

[2018-06-28 20:20] Chromework-zz commented on #32
I get this issue too. Until this gets fixed, the Windows version of Celestia seems to work flawlessly in Wine.

[2018-07-04 15:41] GottfriedSp opened #64 "celx file-io does not work with qt version"
the file-io does not work with qt, but it works with native windows (1.7.0)
This example script demonstrate it.
[scripts.zip](https://github.com/CelestiaProject/Celestia/files/2163702/scripts.zip)

First command is for allowing io access: (this ask the first time for permission to file access: y = yes, ESC = cancel, any other key = no)
`celestia:requestsystemaccess()`
I have tried y, Y, and z (ger

[2018-07-04 16:34] 375gnu commented on #64
What Lua version do you use?

`goto` is a keyword in Lua 5.2 so the method was renamed to `gotoobject`, but it's still available as `goto` on Lua 5.1 and earlier.

So that I assume that you use Lua 5.2 or 5.3 that might dropped automatic loading of `io` library as it did for `coroutines`.

[2018-07-04 17:12] 375gnu commented on #64
@GottfriedSp please test #65

[2018-07-04 18:52] GottfriedSp commented on #64
Ok, I try the gotoobject.

The other thing I found in celx.cpp line 744, this i changed to:
`        if(strcmp(c_p, "y") == 0 || strcmp(c_p, "Y") == 0)`
The qt sends from CelestiaGlWidget::keyPressEvent line 535 the key 'Y':
`            appCore->charEntered('Y');`
Now it works perfectly.
From Windows native the key 'y' comes from MainWindowProc() line 4291:
`            appCore->charEntered(utf8C

[2018-07-04 19:05] 375gnu commented on #64
If you use windows, then the only supported Lua so far is 5.1. Only Unix builds support Lua 5.2 & 5.3.

That's quite strange that you have io==nil with 5.1, my Celestia 1.6.2 linked against Lua 5.1 works with your script.

[2018-07-04 19:32] GottfriedSp commented on #64
Ok, maybe the Qt 5.6.3 for windows.
When I click into screen and press ENTER and then press the keys "p r o x i m a" I see in the screen the word "prOXIma" - see screenshot below.
![proxima](https://user-images.githubusercontent.com/7338172/42291884-e1c04bd4-7fce-11e8-94e7-8c9917f4e4f9.png)
It works with both, my changes and the changes #65
The system cyllene looks like this picture:
![cyllene](ht

[2018-07-04 19:33] GottfriedSp commented on #64
The io==nil comes from the upper case 'Y' even if i press 'y'

[2018-07-04 20:15] GottfriedSp commented on #64
You're right, I tested Lua 5.3 with windows and celestia crashes -> switch back to 5.1 for windows.

[2018-07-04 21:06] 375gnu commented on #64
So, let's summarize:

1. Qt related code sends incorrect characters (uppercased), so your dcaa0a725 just workarounds the problem in one particular case. We need a better fix.
2. celestia:requestsystemaccess() should either abort script if 'y' wasn't pressed or return false so script author can process it.

[2018-07-04 21:55] 375gnu commented on #64
1b1781d (partially) and 0c6786b should be reverted as they are ugly hack and cause this issue.

[2018-07-04 22:04] GottfriedSp commented on #64
But the check for 'y' or 'Y' should be ok if the caps lock is pressed or the user click the key 'Y'.
The other code also should be changed, I see for VK_C:
`        else if (e->modifiers().testFlag(Qt::ShiftModifier))
            appCore->charEntered('C');
        else
            appCore->charEntered('c');
        break;
`
But this is not clean code to add this for each keystroke, I look for a be

[2018-07-04 22:40] GottfriedSp commented on #64
Ah, ok i see, the defines with hexadecimal values.
I think the cases with the same functionality can be blocked together

[2018-07-05 20:55] 375gnu commented on #59
`auto` keyword is very useful for cases like
[code]

when we can have just `for (auto bar : foobars)`

or `VeryLongTypename * t = new VeryLongTypename()` or `foobar_t x = (foobar_t)expression`.

These cases are obvious. Of course one shouldn't use auto for cases like `auto x = fn()`.

[2018-07-06 19:05] GottfriedSp commented on #59
Ok, this is better for the iterators, I found this and equivalent in code:
`                for (Array::const_iterator iter = a->begin(); iter != a->end(); iter++)`
here the iter++ is a performance issue, the post increment hold a copy the previous element.
See performance warnings with cppcheck:

Better with `++iter`.
I changed this in render.cpp line 3972
[code]
to:
`        for (auto &iter : re

[2018-07-06 19:41] GottfriedSp commented on #59
I found this: [range based loops](https://stackoverflow.com/questions/15176104/c11-range-based-loop-get-item-by-value-or-reference-to-const)

It works when I change the -> operator to . : `if (iter**.**renderableType == ...)`
But this works:
[code]

[2018-07-06 22:00] 375gnu commented on #59
[code]
is converted into
[code]
See https://en.cppreference.com/w/cpp/language/range-for

"Choose auto x when you want to work with copies." -- or when you work with primitive types.

[2018-07-08 08:09] GottfriedSp opened #70 "Full screen does not work"
Full screen does not work with qt.
It resizes the window to max size but does not change to full screen.

[2018-07-11 10:40] 375gnu commented on #70
Works for me. What OS & Qt version do you use?

[2018-07-11 16:12] GottfriedSp commented on #70
The menuBar, the toolBars and the solarSystemBrowser is visible in full screen.
With the native windows interface all of this is hidden.
This should be hidden like in other programs (vlc media player, stellarium, media player, presentation programms, ...)

Windows 7 64bit
Qt 5.6.3

[2018-07-12 08:55] GottfriedSp opened #76 "fractional part of julian date can't be edited correct in Qt"
The fractional part cant be edited.
Example: when removing the fractional part and then set the value 2452251,**2** it is automatic filled with 2452251,2000000002 and cant be edited from this point

[2018-07-12 11:31] GottfriedSp opened #78 "textures ans models missing"
data/solar-system/dwarf-planets/dwarf-planets.ssc
The Ceres textures and models missing.

Should this dwarf planet removed from celestia, as one of them can be downloaded from celestiamotherlode.
http://www.celestiamotherlode.net/catalog/show_addon_details.php?addon_id=1651

[2018-07-12 11:42] GottfriedSp commented on #78
The same for Pluto-Charon system:
Pluto
Charon
Styx
Nix
Kerberos
Hydra

[2018-07-12 11:46] GottfriedSp commented on #78
The same for Haumea-, Makemake- and Eris system

[2018-07-13 14:01] 375gnu commented on #70
So, I suppose it's just not implemented. Do you wish to?

[2018-07-13 14:07] 375gnu commented on #76
This is due to how floating point numbers are implemented in hardware, we can't fix it.

[2018-07-13 14:29] 375gnu commented on #78
For Ceres we can import that addon by @Johnvv, it's under free license.

For others bodies we can restore 1.6 images.

[2018-07-13 15:56] 375gnu commented on #11
syncMenusWithRendererState is a bad implementation of this idea.

Actually we should introduce hook(s) called when script change application state.

[2018-07-13 16:37] JohnVV commented on #78
for
--- quote---
Styx
Nix
Kerberos
Hydra

---end quote---

there is just not enough data to make good meshes

i can hand sculpt them ( looking into doing this for nix )

vesta and ceres are available check celesiialmatters

along with many other meshes for asteroids

[2018-07-14 10:33] GottfriedSp commented on #76
Possible implementation is not to change the time and date during editing julian date.
When QLineEdit lost its focus, it can calculate the date and time which also updated the juliandate.

[2018-07-14 10:39] GottfriedSp commented on #70
I can try this, but my vacation is over and could be taken some time.

[2018-07-15 12:29] GottfriedSp commented on #70
Pull request is done with #81

[2018-07-20 20:39] GottfriedSp opened #82 "Video capture crashes with 64-bit on Windows"
Video capture crashes with 64-bit on Windows when stop capture with F12

[2018-07-23 13:16] 375gnu commented on #82
Please provide more info (unless you are going to fix it yourself).

[2018-07-24 16:18] 375gnu opened #83 "Captured ogg video is broken"
[code]

[2018-07-24 20:09] 375gnu commented on #62
I don't have this error on another (faster) pc, so this might be my local issue.

[2018-08-02 19:49] GottfriedSp commented on #82
Windows 32 works fine.
First starting video capture with SHIFT+F10
F11 start capture
F12 record end:
 - crash in CelestiaCore::recordEnd()
     `if (movieCapture != NULL)` << here
backtrace:
	ntdll.dll!0000000077b6b1f0()	Unknown
 	ntdll.dll!0000000077bf9778()	Unknown
 	kernel32.dll!00000000778f59cd()	Unknown
 	ntdll.dll!0000000077b5383d()	Unknown

backtrace with symbols:

 	ntdll.dll!DbgUiRemoteBr

[2018-08-04 08:16] Alexell commented on #64
Partially fixed?

[2018-08-04 08:23] #53 closed, assigned to nobody

[2018-08-04 08:55] 375gnu commented on #64
Yes, only partially. Now if you press 'y' then celx code receives 'y' not 'Y', but we still need to properly fix case when 'Y' is pressed (trivially) and make celestia:requestsystemaccess() return result (not so easy because of asynchronous nature of how interaction with user is implemented).

[2018-08-04 09:02] 375gnu commented on #82
Please build it with debug information enabled (the simplest way is to add `-g` of MSVC equivalent to CXXFLAGS) then run it in debugger. In case of gdb this will be

[code]

That you'll have a better stacktrace.

[2018-08-06 12:26] 375gnu commented on #82
sounds like variable/array/pointer size mismatch

[2018-08-17 06:00] vpontin opened #90 "Missing meshes from dwarf-planets"
Opening `data\solar-system\dwarf-planets\dwarf-planets.ssc` shows me dwarf planets like Pluto and Charon should have proper meshes (`pluto.cmod` and `charon.cmod`) but those arent on `meshes` folder and so when went to one of them nothing shows in-Celestia.

Is this intentional?

[2018-08-29 06:41] rgoalcast opened #91 "Installation Issue"
I am trying with pip install Celestia-main.zip
But getting
command "python setup.py egg.info" failed with error code 1 in C:\Users\user\AppData\Local\Temp\pip-req-build-cyiixo5p\

How can I improve?

Thank you.

[2018-08-30 16:32] 375gnu commented on #91
Celestia doesn't have any python modules. Why do you use `pip`?

[2018-09-09 18:40] 375gnu opened #92 "incorrect usage of global variables time-related variables"
Unix systems have global variables `timezone`, `daylight` and `tzname` set by call to `localtime()`. It looks like Windows platform doesn't have them so the following incorrect definitions were added to `qtappwin.cpp`:
[code]

[2018-09-28 21:04] 375gnu opened #94 "Red Saturn, Uran & Neptun"
in GLSL mode with enabled ring shadows Saturn, Uran & Neptun are red globes without textures.

[2018-10-03 13:17] pvonmoradi opened #97 "Problem in building on a 64-bit machine"
I've installed qt4 and lua dependencies on my machine. Then as per @randallrathbun instructions over at [forum](https://celestia.space/forum/viewtopic.php?f=4&t=17943), I ran `libtoolize`, 'autoreconf' and `./configure --prefix=/usr --with-qt --with-lua --with-cspice-dir=/path_to_folder/Celestia/cspice/ ` (Also downloaded cspice library).
Now when I `make`, I'm presented with the following error:

[2018-10-03 13:32] 375gnu commented on #97
Those instructions are outdated.
1st you need qt5, not 4.
2nd you need to use qmake instead of autotools (configure script)
[code]

Nonstandard spice locations are not supported yet so to compile with it put it into `/usr/local/cspice/` or edit files `celestia.pro` lines 670, 671 and `config.tests/spice/spice.pro` lines 12,13.

[2018-10-03 15:08] pvonmoradi commented on #97
@375gnu OK. I installed `sudo apt install qt5-default build-essential`. Now I get this error after your instructions:
[code]

[2018-10-03 15:12] pvonmoradi commented on #97
`sudo apt install qtmultimedia5-dev` was also needed. Building now...

[2018-10-04 05:09] vpontin commented on #90
The issue is still present: no pluto.cmod or charon.cmod exists on [models](https://github.com/CelestiaProject/Celestia/tree/main/models) folder.

[2018-10-04 08:44] 375gnu commented on #97
Weird, I use 2 Debian-based distributions and don't have such errors. @pvonmoradi what distribution do you use?

[2018-10-04 10:31] pvonmoradi commented on #97
@375gnu After build, I ran `sudo make install`. Here is the new error :(
A splash screen loads some stuff then an error dialog appears showing "Cannot read star database"
[code]

[2018-10-04 12:02] 375gnu commented on #97
Why do you run it with sudo?

[2018-10-04 12:19] pvonmoradi commented on #97
@375gnu `./Celestia_QT` throws similar error and it prints only a seg falult at terminal. sudo add the line `QStandardPaths: XDG_RUNTIME_DIR not set, defaulting to '/tmp/runtime-root'`

[2018-10-04 13:27] 375gnu commented on #97
Quite interesting.

Do the following:
[code]
then edit Makefile, find CXXFLAGS and add `-g` to its values, so you get something like
[code]

then run `make` and execute celestia under `gdb`:
[code]

and post output here.

[2018-10-04 15:32] pvonmoradi commented on #97
@375gnu Shouldn't I run `sudo make install` for the new binary?
  Here is my CXXFLAGS:
`CXXFLAGS      = -g -pipe -O2 -Wall -W -D_REENTRANT -fPIC $(DEFINES)`
[code]

[2018-10-04 16:05] 375gnu commented on #97
omg, it looks like we have a weird bug with app initialization.

not now, for test purposes we can run it from a build dir

@pvonmoradi could you provide your compiled Celestia_QT somewhere?

I'll try to compile it under Ubuntu 18.04 on weekend and compare with yours.

[2018-10-04 19:35] pvonmoradi commented on #97
@375gnu [Here it is](https://transfer.sh/112OUk/Celestia_QT) (valid for 14 days)

[2018-10-05 15:41] 375gnu commented on #97
@pvonmoradi  could you try this workaround:
`export CELESTIA_DATA_DIR=/home/path_to_folder/Celestia`

and then run celesta binary?

It looks we don't install everything, I should notice

but I missed it and concentrated on a segfault. So we have 2 issues.

[2018-10-05 16:01] pvonmoradi commented on #97
@375gnu exported that shell variable.
Program runs with a dialogue about bein unable to find bookmarks and then the main window renders.
I guess it solved the problem?
[code]

[2018-10-05 16:04] pvonmoradi commented on #97
That dialog about bookmarks doesn't show up the second time.
Here is the approximate startup time on my AMD E1 machine:
[code]

[2018-10-05 18:59] 375gnu commented on #97
At least temporary, a proper fix is in #99. You can try to compile it instead of using the workaround.

[2018-10-06 10:51] pvonmoradi commented on #97
@375gnu thanks for your help :)

[2018-10-07 19:29] 375gnu commented on #2
I had a short email conversation with Chris and he suggested another, faster and simpler, implementation.

- The texture has just a single 16-bit floating point channel; color is not "baked in" to the texture
- The contents of the texture are multiplied by a value determined by the magnitude of the star
- For the sake of performance, it's critical that the shader reduces the size of the point for

[2018-10-07 20:45] 375gnu commented on #11
btw, in qt version `celestia:setstarstyle()` changes menus.

[2018-11-07 02:00] amirabbaska commented on #11
okkk

[2018-11-07 02:02] amirabbaska commented on #7
okkkkk

[2018-11-11 07:48] amirabbaska commented on #11
we love you

[2018-11-11 17:28] #45 closed, assigned to 375gnu

[2018-11-11 17:28] 375gnu commented on #40
autotools are removed

[2018-11-11 17:28] #40 closed

[2018-11-11 17:30] 375gnu commented on #60
you should use tools provided by qt to copy required dll instead of doing this manually.

[2018-11-11 17:30] #60 closed

[2018-11-11 18:11] 375gnu commented on #62
The problem exists on slower CPU. TODO: check on Lua 5.1 and 5.2, because I have it on pc where I build Celestia with Lua 5.3.

[2018-11-11 19:43] pirogronian commented on #62
There is no error with Lua 5.3, 5.2 or 5.1 - with fps both set to auto and reduced to 15. CPU: Intel Core 2 Duo, 1.8GHz.

[2018-11-11 20:18] 375gnu commented on #62
Okay, that's just my cpu is too weak. So thi script definitely needs
tweaking for weak cpus.

On 11/11/18, pirogronian <notifications@github.com> wrote:

[2018-11-12 20:01] pirogronian opened #104 "UniformRotation analog in Cel/Celx"
We was asking for
[code]
analog, avaliable via scripts.
So, let's find chances to implement it and find if it would be read-only property, as currently Celestia set all content parameters at start, when loading it from ssc files.
Should it be implement in 1.7 release?

[2018-11-12 20:07] pirogronian opened #105 "Enable/disable asteroids, comets and spacecrafts via scripts."
We were asked for implementing enabling/disabling (show/hide) via CEL and CELX following object types:
* asteroids
* comets
* spacecrafts
So, as I heard this should be easy, should it also be part of 1.7?

[2018-11-12 20:14] pirogronian opened #106 "Draw orbits lines: complete/fading"
We were asked for implement orbits display modes: complete vs fading.
As I can see, there are only fading for now.
Should it be part of oncoming 1.7 release?

[2018-11-13 18:04] 375gnu opened #111 "FPS control menu should use checkboxes"
FPS control menu should use checkboxes instead of plain menu entries. Also please move 'Limit Frame Rate' entry into it (trnaslating it into "Enable Vsync").

[2018-11-13 18:15] 375gnu opened #112 "Add a class for dwarf planet candidates"
By a user's request

[2018-11-13 18:16] 375gnu opened #113 "Fix colours of star spectral classes"
Reported by users

[2018-11-13 18:18] 375gnu opened #114 "Remove size limit for eclipsing satelites"
A user's request

[2018-11-13 21:41] pirogronian commented on #111
Should be ready tomorrow.

[2018-11-14 21:12] 375gnu commented on #105
I've already created core interface for this, only win32 and gtk backends are left. I hope you won't object if I reassign this issue to me?

[2018-11-16 09:12] 375gnu opened #119 "Merge QtEclipseFinder into celestia/eclipsefinder.cpp"
Qt backend uses an own implementation of EclipseFinder, it should be merged back into celestia/eclipsefinder.cpp

[2018-11-16 09:54] pirogronian commented on #119
Please explain.
* what is the  qt backend?
* why qt implementation of something should be merged into celestia core?

[2018-11-16 10:01] 375gnu commented on #119
- qt interface
- because in that case we have 2 implementations of the same thing. the 1st one used in gtk & windows backend, and the 2nd in qt. if qt implementation is better, then we should replace the 1st with it (i'm talking about generic bits only, only qt-specific code should remain in qt backend)

[2018-11-16 11:07] #111 closed

[2018-11-16 18:22] 375gnu opened #120 "Change keyboard shortcut for custom fps"
1. Open search window (press Enter)
2. Type F
3. "Custom FPS" dialog pop ups

please change to smth like Ctrl+F if it's not used.

[2018-11-17 07:56] pirogronian commented on #120
Can you do that, please? I became ill and stuck in bed.

[2018-11-17 11:44] 375gnu commented on #105
Fixed by #116

[2018-11-17 11:44] #105 closed

[2018-11-17 11:48] 375gnu commented on #104
Celx method `celestia:from_ssc()` provides more powerful tool. And it's not so trivial to implement the required method, actually it's almost complete rebuilding of object in-memory representation.

[2018-11-17 17:56] #104 closed

[2018-11-18 07:37] 375gnu commented on #104
99%

[2018-11-18 08:43] 375gnu commented on #114
This issue is created on Celestia Origin team request. The current code in Celestia doesn't render shadows if:

1. The object's radius is much smaller (0.5%) than the object shadows are drawn on, or
1. The object isn't an ellipsoid, i.e. it has a model.

As Ceelstia Origin has a lot of models used instead of default ellipsoids, they have implemented a workaround: they add an ellipsoid to every mod

[2018-11-20 14:58] 375gnu opened #126 "Extend from_ssc to support dsc and stc fragments"
1. Rename `celestia:from_ssc` to `celestia:loadfragment`;
1. Make it accepting 2 arguments: `type` = `set{"dsc", "ssc", "stc"}`, `fragment` = `string`;
1. The same for legacy scrips.

[2018-11-20 17:15] #120 closed

[2018-11-20 17:35] 375gnu commented on #32
Alternatives to evaluate: snap and flatpack.

[2018-11-20 17:40] 375gnu commented on #90
Duplicates: #78

[2018-11-20 17:40] #90 closed

[2018-11-20 19:03] pirogronian opened #128 "Generic, user defined categories"
As estabilished on forum, we need some kind of user defined category system. I propose something similar to tags: multiple categories per object, for more flexibility. Categories database would be generated in fly, during data files loading. I can start it.
Edit: I can also implement dynamic instalation category names localisation.

[2018-11-20 20:16] 375gnu commented on #128
Celestia parser supports arrays, so in ssc file we can have
`usertags [foo, bar]`

[2018-11-21 17:30] #126 closed

[2018-11-21 17:53] pirogronian opened #130 "Implementation of SolarSystemCatalog::load"
Make SolarSystemCatalog similar to Star and DSO catalogs. Maybe make base class for all.

[2018-11-21 21:51] pirogronian opened #131 "Migration to CMake"
I know, that migration to cmake and removing qmake support is one of milestones of version 1.7. So, what is a status of cmake integration? What else could be done?

[2018-11-22 14:34] 375gnu commented on #131
Qmake removal wasn't planned for 1.7. I'd say for 1.8.

When built using cmake Celestia crashes on exit in free() function. I haven't find a root cause yet, so if I'm unable to find them, I'd postpone cmake as well (or at least postpone making it default).

[2018-11-22 19:07] 375gnu opened #133 "Increase distance of visible solar system objects"
Currently a solar system is shown as a system not a single star if it's closer that 1LY. As a result things like Oort cloud are no visible on reasonable distance.

We should make this distance configurable.

[2018-11-26 10:16] #133 closed

[2018-11-28 11:20] AMDmi3 opened #142 "Tags missing"
Git tags are missing for 1.6.1 and 1.5.1 which are mentioned in the download section of the website.

[2018-11-28 16:29] 375gnu commented on #142
I pushed 1.6.1 & 1.5.1

[2018-11-28 16:29] #142 closed

[2018-12-02 09:55] 375gnu opened #150 "Segfaults on exit with libcelestia.so"
I suppose this [link](https://google.github.io/styleguide/cppguide.html#Static_and_Global_Variables) explains the issue.

[2018-12-04 08:52] 375gnu commented on #7
Hi @pirogronian , i suppose we can close this issue. The more I think the close I am to the conclusion that we don't need name/type sorting for the Solar System Browser.
1. It's initial sorting order is by distance from a parent (star, planet, etc). So we need an additional control to restore original sort order.
1. Sorting by type is useless as we have grouping. I also have some WIP filtering cod

[2018-12-06 18:27] 375gnu opened #154 "Support for additional star catalogues"
For example Kepler & Gaia

[2018-12-06 18:30] 375gnu opened #155 "New exoplanet properties"
* Mass
* Density
* ESI (Earth Similarity Index), see http://phl.upr.edu/projects/earth-similarity-index-esi
* ?

[2018-12-06 18:37] pirogronian commented on #155
I've already thought about universal, user defined properties, by analogy to currently developed categories. It could be used as long as doesn't affect rendering and other in-Celestia behaviour.

[2018-12-06 18:49] 375gnu opened #156 "Support temperature and additional albedo types for planets"
Currently Celestia supports only geometric (flat) albedo. It uses it to calculate brightness (correct) and temperature (wrong) of bodies.

To calculate proper temperature another albedo should be used, called Spherical albedo (Bond albedo).

So body temperature is calculated as $$T_{eq} = T_{*eff} sqrt[4]{1 - a_{\beta}} sqrt{R/2D}$$, where

$T_{*eff}$ - effective star temperature, $K$;
$a_{\beta}$

[2018-12-06 18:50] pirogronian commented on #154
I think about exposing unified data manipulation Lua api, so incomporating any type of data would be a matter of writing proper lua script(s). I'm impressed by game [Pioneer](https://pioneerspacesim.net). It has nearly all game mechanics implemented in lua. Core implements only data model, rendering and some other important utilities. This approach seems to be the best choice for me. In Celestia,

[2018-12-06 18:51] 375gnu opened #157 "Temperature parameter for stars"
Currently star temperature is defined by the star's class. Actually a lot of stars have nonstandard values (white dwarfs, neutron stars, etc), so for them it's good to have a temperature parameter in STC files.

[2018-12-06 19:03] 375gnu commented on #154
Currently a lot of thing are implemented in Celestia core. See https://github.com/CelestiaProject/Celestia/blob/master/src/celengine/stardb.cpp#L33. Unfortunately different star catalogs have different naming scheme, so it's no trivial to move this into config file.

[2018-12-06 19:04] 375gnu commented on #155
For those options are rather useful to be displayed by the core, at least in a verbose mode.

[2018-12-06 19:55] 375gnu opened #158 "wchar_t assumed to be 32 bit"
Celestia code assumes that wchar_t is 32 bit, that's true for GCC but not for Visual C++ and MingW, where it's 16 bit.

With `-fshort-wchar` GCC shortens wchar_t to 16 bit.

[2018-12-06 20:48] pirogronian commented on #155
Yeah, this is complication. So we can implement it inside the core or go deeper and make internal object info box also programmable.

[2018-12-07 03:32] LukeCEL commented on #155
Adding parameters like "Mass", "Density", etc. would make the information section below the object name more detailed. However, I don't know if that's necessary; neither of them would have any effect on how the appearance or orbit of the planets.

[2018-12-07 07:30] Askaniy commented on #155
The support of "Mass" parameter in ssc will allow displaying the calculated density and programmatically calculating the orbital period of the object’s satellite. Not so much, but the lack of mass support, being one of the main parameters of the object, is often perceived negatively by many when comparing Celestia with other similar programs.

[2018-12-07 09:44] pirogronian opened #159 "User input data translation"
As Celestia have now ability to import new data, provided by user, there is a queston about translating such a data (for example - celestial object names, user defined category names etc). Current approach is usage of gettext, as for every other translatable string. But users providing new string are unable (without messing with system files) to provide translation for it. I see to solutions (not

[2018-12-07 14:47] 375gnu commented on #159
I thought about the 1st method.

[2018-12-07 21:03] LukeCEL commented on #155
Good point. If Celestia is compared negatively to other programs, then it's probably a good thing to add.

[2018-12-07 23:06] #158 closed

[2018-12-08 10:29] vitlav opened #165 "Make a new release"
Please, make a new release of the project (increment version, set a tag in the git repo and so on).

[2018-12-08 11:11] pirogronian commented on #165
V1.6.99 or something similar?

[2018-12-08 12:04] vitlav commented on #165
Yes. There is 1.7.0 in CMakefile.txt already!

[2018-12-08 22:52] vpontin commented on #165
I wish there's any builds for this possible release too (for the ones who cant compile it right now)

[2018-12-09 17:37] 375gnu opened #166 "Additional entries in QtInfoPanel"
For spacecrafts: beginning and ending time of operation.
For planets: TODO

[2018-12-09 19:14] pirogronian commented on #159
So, here is my proposition (being realized here #164 ).
To allow non-privileged users to bing their own translations, we have to know, where these translations are located. Gettext allows binding many directories with translations, but every such a directory have to be linked with unique domain. So, we have to allow users to define custom domains.
We cannot assume that every string user want to tr

[2018-12-10 09:32] 375gnu commented on #159
How Celestia will load your custom text domain? `dgettext` loads domains only from "standard" directories.

Why do you want to add a new additional class? All objects have `name` and `i18nName` fields, so they just need is a domain id, which **can** be a string, but I suggest to create a translation manager (it can be just a `std::vector` with .mo paths, so the domain id is an index). Please keep

[2018-12-10 09:33] 375gnu opened #167 "User categories support for SSC files"
Please add support for user categories support for SSC, DSC & STC files.

[2018-12-10 12:05] pirogronian commented on #159
What is "standard directory"? Do ypu mean there is a better function than dgettext? Or something better than gettext package?

I just prefere to have single mechanism than multiple similar in many places. Moreover, some objects can have many names. Translatable names should be also with user categories.

I will support ssc and friends as soon as we agreed about core solution.

[2018-12-10 13:13] 375gnu commented on #159
On 12/10/18, pirogronian <notifications@github.com> wrote:

"Standard directory" is usually `$prefix/share/locale`. To use mo
files outside it you need `bindtextdomain`.

I assume it will look like
[code]

where `update` calls `bindtextdomain` and `dgettext`

alternative way looks like

[code]

The same, but generally simplier.

[2018-12-10 19:55] 375gnu commented on #159
For context dependent translations we have `dcgettext`. There is no need to cache its returned value as a context is applied for a few strings (in 99% for one string) only. For other case caching is a must.

[2018-12-10 20:03] pirogronian commented on #159
According to [man page](https://linux.die.net/man/3/dcgettext), category passed to `dcgettext` refers to LC_{type} type constant. So, provided context very limited. I thought about user-defined context (by binding own text domain).

[2018-12-10 20:17] 375gnu opened #168 "Binary format for xyzv files"
We need to implement support for binary format for xyzv files to speedup loading.

[2018-12-10 20:18] 375gnu commented on #159
Actually I was thinking about https://www.gnu.org/software/gettext/manual/html_node/Contexts.html

[2018-12-10 20:38] pirogronian commented on #159
So, we will use `pgettext`. Ok.
But I'm afraid about memory. Ready translation is allocated by gettext and we have to remember only pointer to const char. But except that we have 3 strings: main text, domain text and, sometimes, context text. Three `string class` objects. I wonder if in most cases coresponding strings are already allocated as in-code literals.

[2018-12-10 20:46] 375gnu commented on #159
On 12/10/18, pirogronian <notifications@github.com> wrote:

For domain name you don't need more then one string stored inside
translation manager. As I said it can be implemented as a wrapper for
std::vector, so objects will store just a index in this vector.
Context is hardcoded into the application code.

[2018-12-10 21:07] pirogronian commented on #159
Context and domain may be also provided by ssc-and-family files, and by lua scripts. So, we need at least two managers (or just two containers).
However, there could be passing same string (but different instances) both to translatable and manager, without any trouble except memory wasting.

[2018-12-11 01:26] LukeCEL opened #169 "Bayer designations for globular clusters"
Star names allow Bayer designations: e.g. "ALF Cen" becomes displayed as "α Cen". However, we should also have this feature for globular clusters, specifically for two globular clusters (xi Tucanae and omega Centauri) with Bayer designations.

[2018-12-11 02:40] LukeCEL opened #170 "Differentiate Bayer and variable designations for MU, NU"
Currently stars labeled "MU xxx" or "NU xxx" are displayed as Bayer designations, but it doesn't allow variable star designations. For example, HIP 33345 = μ Canis Majoris but HIP 35355 = MU Canis Majoris.

Based on the [Wikibook](https://en.wikibooks.org/wiki/Celestia/STC_File#Bayer_Star_Names), changing the code to only allow "MU." or "NU." is one option, however that wouldn't be backwards compa

[2018-12-11 15:50] pirogronian commented on #159
Hard to find, athough I assumed it's better to provide possibility (with little cost), than provide patches, when need emerges.

[2018-12-11 20:17] pirogronian commented on #159
`dpgettext` is missing on my system. I learned from Internet I have to run `gettextize` in project directory. But running `gettextize -n` in root Celestia catalog give:
`gettextize: *** Missing configure.in or configure.ac, please cd to your package first.
gettextize: *** Stop.`

[2018-12-11 20:48] pirogronian commented on #128
@375gnu
UserCategory, as well as other my stuff, have static members. Is this good idea, as you are rather removing static objects from Celestia?

[2018-12-11 21:00] LukeCEL commented on #170
Currently I don't have access to my Celestia installation so I can't provide any URLs.

Also, I should note that the default Celestia package doesn't include variable star designations. It's just that if you edit starnames.dat or add a new star with the name "MU CMa" or something, Celestia will assume that it's "μ CMa".

[2018-12-12 07:47] 375gnu commented on #128
Generally only "trivial" types may be static, see https://google.github.io/styleguide/cppguide.html#Static_and_Global_Variables for explanation. Maps, sets, vectors are not trivial, so it better to refactor the code.

[2018-12-12 17:14] 375gnu commented on #159
You can add it manually, it's just a few files in /usr/share/gettext.

Nope. It will not emerge. You misunderstand translation contexts. They are used to distinguish such cases like one original word is used for different things (Homonym). Or when original word has the same form in different cases but translated word has different forms, for example `Earth` is `Ziemia` in Polish, but `Follow Earth

[2018-12-12 18:56] 375gnu commented on #155
ESI can be easily calculated, so I will not include it.

[2018-12-14 08:38] pirogronian commented on #167
Implemented in #172 .

[2018-12-14 08:56] pirogronian commented on #159
@375gnu Please judge if my implementation of static objects is valid.

[2018-12-14 09:03] pirogronian opened #173 "Celestial objects unification"
To me, every (or nearly) celestial object should be able to have:
1. Trajectory (maybe except location)
2. Parent
3. Children
4. Position in catalog
I also suggest to create unified catalog class, which would have:
1. Name (of catalog), maybe description
2. Catalog numbers
3. Catalog names(?)
Because I don't know much about catalogs, let me know if I misunderstanded something.

[2018-12-14 10:37] 375gnu commented on #159
It seems that you did it correctly.

BUT you just don't hear me. Your approach is terribly overengineered  without any good reason.

[2018-12-14 11:04] pirogronian commented on #159
I still don't understand. Which approach will be better?

[2018-12-14 17:02] 375gnu commented on #159
All you need is to add a new private member for all objects, let's call it `int i18nDomainId{ 0 };` (+ getter & setter) and a new class `TranslationManager` as simple as `class TranslationManager { std::vector domains; }` with 2 public methods `addDomain()` & `getDomain(int domainId)`.

In `setName` you check if i18nDomainId == 0 the use `gettext` else `bindtextdomain` if required + `dgettext`.

T

[2018-12-14 17:17] 375gnu opened #174 "Time frame for alternative textures"
Currently Celestia can use only 1 texture for bodies. It would be nice to have different textures in different time periods.

[2018-12-14 18:01] pirogronian commented on #159
What about changing language at runtime?
What about objects with multiple names?
How to know at name set the domain id?
My approach is simplufication by unification. "overengeenering" isn't a big issue to me, especially compared to Celestia scattered code.

[2018-12-14 18:10] 375gnu commented on #173
1-3 They do.
4 Catalog is useless for planets & moons as they belong to their star. Dunno if it required for asteroids and comets.
5-7 Currently Celestia has only one catalog (HIP), other catalogs are either crosslinked to it (e.g. SAO) or map their numbers to HIP numbers (Tycho). Not all catalogs use simple linear numbering (e.g. Tycho has a-b-c numbering). So if you want to fix the problem, you

[2018-12-14 18:45] 375gnu commented on #159
1. How your approach helps this issue? In any case you'll need to run updateTranslation (see above).
1. What objects? And why with simple approach you unable to handle them? _("Name 1"), _("Name 2"), _("Name 3"). What the problem?
1. int getDomainId() { return domainId; } :)
1. How long will you involved in Celestia? Why do you think that future maintainers will be happy with your code? Your code

[2018-12-14 18:47] 375gnu commented on #173
Because they are DSO. What parent can a galaxy have?

[2018-12-14 19:05] pirogronian commented on #159
1. In your method I don't see, how updateTranslation would be implemented. You provided only domains container, while to update all strings we need them in database.
2. Stars and DSOs. More specifically, they have names in appropriate databases, internally in `std::map` and `multimap` containers. Should I just provide second container with translated names?
3. I meant what is criterion domainId ch

[2018-12-14 19:09] pirogronian commented on #173
Other galaxy. Or center of mass in a group. For example, Centaur Galaxy near Milky Way or both Magellan Clouds. Moreover, DSOs include also globular clusters and nebulae, that certainly can have parent with galaxy center and trajectory around it.

[2018-12-15 10:11] 375gnu commented on #173
So, summarizing, you propose to add some dead code, because now we don't have any code to support clusters/nebulae/etc trajectories/universe expansion and so on.

[2018-12-15 10:18] pirogronian commented on #173
As overall code size will be reduced, objections about dead code sounds a bit abstract...

[2018-12-15 10:54] 375gnu commented on #159
1. I haven't checked yet how to iterate over all objects because I don't assess runtime language switch a high priority feature. 99.9999% applications don't have this feature and nobody complain. I know that Gimp & Inkscape support it but I never used it. `LANG` env var is sufficient. And like any other low priority feature it should be unintrusive.
1. We already have such databases - gettext mo f

[2018-12-15 11:31] pirogronian commented on #173
I think so. Now we have 3  base classess for objects, every with own databade, data parser and name handling. It causes existence of three different (although very similar) browse widgets. I propose one universal clasd for (nearly) evetything , with all common code. It can also include code for all special cases or let it for subclassing. If user want galaxy encircling around immovable planet - le

[2018-12-15 11:51] pirogronian commented on #159
1. Ok. I just needed it clearly stated :)
2. Ok let it be. At least for now.
3. Ok, I just wanted to have stated clearly, that programmer need to know domain id when setting name. It is known from `addDomain` method, but could be problematic when name setting is done in defferent scope than domain adding. I that case I would bind domain id with name string, but it is what you dont want, right?
4.

[2018-12-15 15:50] 375gnu commented on #173
Just do `fgrep -R StarDetails`.

Star & DSO browsers can be merged, but merging Solar system browser  doesn't worth efforts.

[2018-12-15 16:20] 375gnu commented on #157
Actually this is implemented.

[2018-12-15 16:20] #157 closed

[2018-12-15 20:49] 375gnu commented on #173
What common data? Radius?

[2018-12-15 21:46] pirogronian commented on #173
Radius also. But first of all: parent, children, trajectory, visibility, category (already is) and (maybe) names list/catalog entries.

[2018-12-15 22:08] 375gnu commented on #173
Don't you see that this means that your proposal is useless?

[2018-12-15 22:42] pirogronian commented on #173
No, I don't see. Why?

[2018-12-16 12:48] 375gnu commented on #173
1. because the code is already written
1. because there is no nontrivial methods common (except trajectory)
1. and there is no codepaths where star or planet or dso can be used. stars has own path, planets have their own, and so dsos.

First you should implement a new feature which can be implemented better if all object has common ancestor and only then implement your proposal. Not just because y

[2018-12-16 13:53] pirogronian commented on #173
1. So I want to eliminate code, rathwr, than write new.
2. Still worth an effort.
3. What is "codepath"? Do you mean rendering method?

That's how I planned to try it.
Where I argued that common virtual class is the only right thing?

[2018-12-16 21:35] 375gnu commented on #173
"code path" = "code", but related to some particular feature.

DSOs have a lot of shared, they are not implemented in this way just because in textbooks it's said so.

[2018-12-17 07:49] pirogronian commented on #167
Implemented in #172 .

[2018-12-17 07:50] pirogronian commented on #167
Not this one :-)

[2018-12-17 17:17] pirogronian commented on #154
So, doing shortly, we can just implement additional `parse<CatalogName>CatalogNumber` function to map particular catalog identifier to internal Celestia index and extend `catalogNumberToString`. However, code of database is so ugly, that I would be happy making it cleaner. However, I'm not sure how exactly this code work. Mayby we should start to make inline documentation of code first.

[2018-12-18 16:23] 375gnu opened #176 "Add "Unmark" to context menus / qt"
browsers and objects context menus have "mark" option, but not "unmark"

[2018-12-19 16:32] #167 closed

[2018-12-19 17:47] pirogronian opened #178 "Celestia built by cmake miss OpenGL and crashes."
Firtly, I run `cmake .` and `make`, then run celestia executable at `src/celestia/qt/celestia-qt`. It displayed warning about uninitialized OpenGL and following console output:
`libGL error: No matching fbConfigs or visuals found

libGL error: failed to load driver: swrast

Unrecognized OpenGL version

Unrecognized OpenGL version

Błąd w obliczeniach zmiennoprzecinkowych (zrzut pamięci)

[Error in

[2018-12-21 15:58] qsc555 opened #180 "celx_internal.h:209: error: 'lua_isinteger' was not declared in this scope"
Qt 5.12.0 use by mingw730_64 , this error caused by lua51.lib does not have the ‘lua_isinteger’ method，can somebody make a lua53.lib ? I'm still learning about this project.

[2018-12-21 16:17] pirogronian commented on #180
It's my fault. I didn't realized `lua_isinteger` is avaliable since Lua 5.3. Please wai a moment, I'll send fix.

[2018-12-22 17:57] 375gnu commented on #180
Fixed in #181

[2018-12-22 17:57] #180 closed

[2018-12-23 07:40] 375gnu commented on #176
Fixed by #182

[2018-12-23 07:40] #176 closed

[2018-12-23 07:42] 375gnu commented on #155
Mass and density is implemented in #183. ESI can be calculated.

[2018-12-23 07:42] #155 closed

[2018-12-23 07:43] 375gnu commented on #156
implemented in #183

[2018-12-23 07:43] #156 closed

[2018-12-23 07:46] 375gnu commented on #106
core & qt are finished, native win and gtk are in progress

[2018-12-23 07:48] #112 closed

[2018-12-23 15:44] LukeCEL commented on #174
There's already property called "Timeline" (see the [Wikibook](https://en.wikibooks.org/wiki/Celestia/160Features#Object_timelines)) that allows you to specify different orbits, reference frames, and rotations. Perhaps you could implement it using this?

[2018-12-29 18:42] pirogronian commented on #178
Update: the same after pulling #185 .

[2019-01-03 10:20] 375gnu commented on #165
@vpontin you can find windows builds in https://celestia.space/forum/viewtopic.php?f=4&t=18372&start=60

[2019-01-03 11:42] 375gnu commented on #150
unreproducible anymore

[2019-01-03 11:42] #150 closed

[2019-01-03 14:36] vpontin commented on #165
Thanks!

[2019-01-06 13:47] 375gnu opened #191 "No menus work in fullscreen"
After migration to QOpenGLWidget no menus work in fullscreen. Windows only.

[2019-01-06 14:41] pirogronian commented on #191
Internet rumors [reports](https://forum.qt.io/topic/76129/qopenglwidget-fullscreen-problem/6) it can be related to ANGLE backend with Qt on Windows. Here is a [Qt Wiki article](https://wiki.qt.io/Qt_5_on_Windows_ANGLE_and_OpenGL) about dealing with ANGLE.

[2019-01-06 15:37] 375gnu commented on #191
Seems that you are correct, after exporting QT_OPENGL to desktop I was
not only able to run Celestia under wine, but menus were working as
well.

[2019-01-06 19:20] 375gnu commented on #191
Unfortunately, nope. This issue has been reported countless times to qt's bugzilla and no proper solution yet. QOpenGLWidget also is slower and enforces double buffering by default while QGLWindow is a raw GL window. Another issue reported in https://celestia.space/forum/viewtopic.php?p=141773#p141773. So I'll revert this change.

[2019-01-06 19:49] 375gnu commented on #191
The official w/a doesn't work. Celestia just crashed when I added it.

I hope Qt 5 will keep the old class. Also we can try https://doc.qt.io/qt-5/qopenglwindow.html instead.

[2019-01-06 20:21] #191 closed

[2019-01-11 10:02] 375gnu opened #196 "Double to int conversions in celx code"
Hi @pirogronian,

Please check appveyor build log (should be available here: https://ci.appveyor.com/project/375gnu/celestia). It has a lot of warnings regarding conversions from double to int. It looks like there are some type mismatch in your code. The lua version is 5.3.

[2019-01-11 10:03] 375gnu commented on #196
It also has warnings like `c:\projects\celestia\src\celestia\celx_internal.h(218): warning C4800: 'int': forcing value to bool 'true' or 'false' (performance warning)`

[2019-01-13 18:11] 375gnu opened #198 "Incorrect path to splash.png in windows build"
C:/Program Files (x86)/celestia/share/celestia/splashsplash.png
or C:/Program Files/celestia/share/celestia/splashsplash.png

[2019-01-13 18:11] 375gnu commented on #82
Current build doesn't crash.

[2019-01-15 17:32] #168 closed

[2019-01-16 20:27] 375gnu opened #203 "Red Earth"
Reported in https://celestia.space/forum/viewtopic.php?p=141867#p141867

Posted shaders log shows shader syntax error

[2019-01-17 09:34] #203 closed

[2019-01-18 22:18] pirogronian commented on #196
Should be fixed in #208

[2019-01-19 18:55] #198 closed

[2019-01-21 20:58] pirogronian commented on #169
Fixed in #213 .

[2019-01-22 05:36] LukeCEL opened #216 "Allow changing colors for comet tails"
Some comet tails like 46P/Wirtanen are quite green. It might be useful to have a parameter for comets like to specify the color, like this:
`TailColor [ 0.30 1.0 0.65 ]`

[2019-01-28 12:43] 375gnu commented on #169
Not fixed yet

[2019-01-29 13:56] wrapperband opened #219 "Can't compile in Ubuntu 18.10- Cannot find file: celestia.pro."
Can't compile in Ubuntu 18.10 - Cannot find file: celestia.pro.

I am following the instructions in the README as instructed, but there is no celestia.pro file

qmake -qt=5 PREFIX=/opt/celestia -o Makefile celestia.pro

Cannot find file: celestia.pro.

[2019-01-29 13:58] pirogronian commented on #219
Qmake support was removed just days ago. Please use cmake instead.

[2019-01-29 14:05] wrapperband commented on #219
Cheers, what is the new instructions?

[2019-01-29 14:13] wrapperband commented on #219
Ok :  it's in commit. I'll try this  :

after cd build

cmake ..
- make -j $(nproc || echo 4)

[2019-01-29 14:40] 375gnu commented on #219
I'll update README.txt & INSTALL.txt, thanks for pointing out

[2019-01-29 14:41] pirogronian commented on #219
@wrapperband You probably want `cmake .`, with one dot. Moreover, if Celestia wont find opengl, then try add `-DLEGACY_OPENGL_LIBS`.

[2019-01-29 14:41] wrapperband commented on #219
It seems to have worked so far : I'll test the build now.

[2019-01-29 14:46] wrapperband commented on #219
Ok, it lied - and no celestia-qt was created - I'll try cmake with one dot.

[2019-01-29 14:48] wrapperband commented on #219
Didn't compile this time, with cmake .

-- Could NOT find Gettext (missing: GETTEXT_MSGMERGE_EXECUTABLE GETTEXT_MSGFMT_EXECUTABLE)
CMake Warning at CMakeLists.txt:81 (message):
  Gettext is not found, traslations won't be created.

Found Eigen3 3.3.4
Using bundled libfmt
-- Could NOT find GLUT (missing: GLUT_glut_LIBRARY GLUT_INCLUDE_DIR)
CMake Warning at src/celestia/CMakeLists.txt:89 (message):

[2019-01-29 14:59] 375gnu commented on #219
did you run `make` after `cmake`? Cmake is like qmake, it only generates makefiles, but doesn't build anything.

[2019-01-29 15:00] wrapperband commented on #219
Ok :   Yes I did Make : trying to find where it put the file supposedly

Celestia/build/src/celestia/qt

[2019-01-29 15:01] pirogronian commented on #219
I forgot - after cmake run `make`. These messages are warnings only. Btw could you install gettext and glut on your system?

[2019-01-29 15:03] wrapperband commented on #219
I'll do that when I work our why the file is not there ...

Celestia/src/celestia/qt$ ./celestia-qt
bash: ./celestia-qt: No such file or directory

[2019-01-29 15:08] 375gnu commented on #219
show full build log please, both cmake and make

[2019-01-29 15:09] wrapperband commented on #219
I have run the program

./Celestia/build/src/celestia/qt/celestia-qt

A box starts -    Error reading configuration file

I'll try recompile with glut etc

[2019-01-29 15:10] pirogronian commented on #219
@wrapperband and please edit your comments if possible, instead of posting new.

[2019-01-29 15:11] wrapperband commented on #219
I did that so you would know there is a new message.

[2019-01-29 15:15] wrapperband commented on #219
Ok, nothing seems to work when I click on it on left, I can view the image on right : I'll let someone else test if it's working as I have no idea what it should do.

[2019-01-29 15:30] wrapperband commented on #219
Just Earth things are black shapes : the moon, hubble. Saturn and Moons seem fine.

[2019-02-01 02:11] LukeCEL commented on #216
@375gnu: this is definitely a lower priority request, this doesn't necessarily have to be in 1.7.0.

[2019-02-04 01:44] joequant opened #223 "Put in marker / minimum size for followed objects"
A small feature enhanced.  I would like to follow a spacecraft as it moves in its orbit but when I zoom out, the spacecraft is too small to be visible.

Would like to have the ability to have a minimum object size when following an object so that a followed object would be visible as a dot even if not otherwise visible.

[2019-02-04 02:49] joequant commented on #223
doh.  Already there

[2019-02-04 02:49] #223 closed

[2019-02-06 11:31] 375gnu opened #226 "Fix osx build failures"
Some useful links:
https://www.gnu.org/software/gnulib/manual/html_node/libintl_002eh.html
https://github.com/neovim/neovim/pull/76

[2019-02-07 19:42] GottfriedSp commented on #219
Why the celestia.pro is removed?
Now we need 2 extra tools for windows to compile.
And cmake for windows is realy bad thing.

And command line or bash is pre DOS time, today we use GUI for developing.

[2019-02-07 20:45] 375gnu commented on #219
@GottfriedSp, 1) because qmake is for Qt. We don't want to limit ourselves to Qt only. 2) we use vcpkg to manage dependencies on windows which supports cmake and msbuild only and it depends on cmake so if you have vcpkg you have cmake. 3) cmake is current de-facto standard in C++ world.

I don't who that "we" you are talking about are, but I prefer command line tools.

[2019-02-07 20:58] GottfriedSp commented on #131
Why use now cmake and not qt-build system with qmake?
cmake does not work properly with windows. I installed vcpkg and every time i install something with it, I must disable virus protection, otherwise the CMakeCCompilerid.exe runs into quarantine.

[2019-02-07 21:06] pirogronian commented on #131
@GottfriedSp I'd say it's problem of virus protection, not necessarily `vcpkg`...

[2019-02-07 21:09] 375gnu commented on #131
@GottfriedSp, install a better antivirus, mine is Devuan GNU/Linux, you should definitely try it.

[2019-02-07 22:52] GottfriedSp commented on #131
I have windows and don't like command line tools. Other antivirus I tried, but the most of them slows down the entire system. I also have Debian Linux, but I don't like it. When update my raspberry pi to new debian, some of the functions I had doesn't work anymore, other things changed too much, other things removed. GNOME was changed to 3.0 and does not work like before. On other machines, no sup

[2019-02-08 10:38] 375gnu commented on #131
On 2/8/19, GottfriedSp <notifications@github.com> wrote:

I run Debian (now Devuan actually) since 2008 and only once I had to
reinstall when I migrated from 32 to 64 bits. But my configuration is
the same, but I don't use neither Gnome nor KDE.

CMake works on variety of systems. VS works only on Woe. That's enough
to choose CMake over VS projects. I evaluated a lot of build systems.
CMake is far

[2019-02-08 21:18] #226 closed

[2019-02-09 15:19] vic131 commented on #219
I'm having similar issue while compiling with cmake and qt5, in ubuntu 18.04

Following the instructions :
[code]
I cant complete make

[code]

All dependencies instructed by INSTALL.txt are instaled.

[2019-02-09 15:49] 375gnu commented on #219
On 2/9/19, vic131 <notifications@github.com> wrote:

Either:
- instead of downloading a snapshot use `git clone`
- or run cmake with an additional argument `-DGIT_COMMIT=1234567`

[2019-02-09 19:55] vic131 opened #228 "Can't launch from terminal : "Celestia: command not found ""
Ubuntu 18.04
Zip File Downloaded ( not cloned) from git source.
i did :
[code]
installed at :
[code]
But the commands "celestia" or "Celestia" or "celestia-gnome" isnt  valid command to launch it from terminal.
Do ./ in the instaled files dont seems to work either.
And ubuntu's search dont find any app to launch.
So i can't launch celestia ...

What i did wrong ?

[2019-02-09 19:57] vic131 commented on #219
The addtional argument worked. Thanks.

[2019-02-11 09:08] 375gnu commented on #228
Use celestia-qt instead.

[2019-02-11 15:13] vic131 commented on #228
Thanks

[2019-02-14 17:09] sanderbockstaele commented on #32
witch distribution do you use? on manjaro you can use the GUI tool.

[2019-02-14 20:24] #228 closed

[2019-02-24 18:10] pirogronian commented on #128
As categories are arleady in master since some time, it seems to be safe to close this issue.

[2019-02-24 18:10] #128 closed

[2019-02-24 18:14] pirogronian commented on #159
As input translation, at least for categories, is already implemented, there seems to be safe to close this issue.

[2019-02-24 18:14] #159 closed

[2019-02-28 19:23] #169 closed

[2019-03-02 22:12] lrm25 commented on #216
I'm new to coding on this specific program, and have it compiled from source and running on my machine.  I can take this issue.

[2019-03-03 20:39] 375gnu commented on #216
Hi @lrm25 ! It will be great if you can fix this issue. Basically you need to add a new parameter for ssc files (`TailColor`) and use its value when drawing a comet.

[2019-03-08 04:57] lrm25 commented on #216
Do you want the parameters that are already there in ProcessCometTailVertex in the render.cpp code as a default, or do you want this parameter to be mandatory?

[2019-03-08 13:25] LukeCEL commented on #216
For backwards compatibility, I’d like this parameter to be optional, and to use the parameters from render.cpp as defaults.

[2019-03-08 22:05] lrm25 commented on #216
Got it, and I have the enhancement working on my machine (Linux, QT).  Is that good enough to submit the PR, or do I need to test it on the other systems?  I don't have a Windows machine.

[2019-03-08 22:07] lrm25 commented on #216
Another question:  do you want me to add any tail colors to comets.ssc, or will you take care of that?

[2019-03-09 02:20] LukeCEL commented on #216
Nice! You should ask @375gnu, but I think it's a good idea to submit the PR, so people can look at it.

I don't think any comets in comets.ssc have tail colors that are too different from the default. I was mostly concerned about green comets like 46P/Wirtanen and C/2012 S1 (ISON).

[2019-03-09 10:45] Askaniy commented on #216
Hi @lrm25, I think this is a good idea. But I haven’t yet updated the comets.ssc according to Celestia Origin. I'll try to do it soon.

[2019-03-11 18:24] #216 closed

[2019-03-13 18:53] lrm25 commented on #78
Pluto and Charon maps, courtesy of New Horizons, are available on wikimedia.  I can add them if somebody else hasn't already.  I need to know how to give credit to NASA/JPL/SwRI for the image though.

[2019-03-13 21:18] Askaniy commented on #78
All NASA maps need processing for a realistic look. I will add these maps or their improved versions: ([Pluto](https://www.deviantart.com/askaniy/art/Pluto-True-Color-Texture-Map-758445299), [Charon](https://www.deviantart.com/askaniy/art/Charon-True-Color-Texture-Map-762245061))

Also [here](https://celestia.space/forum/viewtopic.php?p=141659#p141659) you can download Celestia Origin, the origin

[2019-03-17 03:06] LukeCEL opened #238 "1.7.0: Backspace doesn't work for search console"
In version 1.6.1, typing backspace in the search console would delete the last character you typed. However, on my build, it cycles through the potential options (like tab) but backward.

[2019-03-18 23:22] vpontin opened #239 "Duplicated dwarf planets"
The dwarf planets added by [this commit](https://github.com/CelestiaProject/Celestia/commit/2375e17fff072851e0f363ddafae03f20bfe5a32) are duplicated by the entries on [asteroids.ssc](https://github.com/CelestiaProject/Celestia/blob/master/data/asteroids.ssc) (Ceres) and outersys.ssc (Haumea, Eris and other TNOs).

What is the most accurate and what about merge the changes in the files on `data` di

[2019-03-19 05:31] Askaniy commented on #239
I'll fix it today. It's most accurate to remove Ceres from the `asteroids.ssc` and dwarf planets from the `outersys.ssc`. The `data` directory does not support trajectories, so everything that requires additional resources is taken out of it.

[2019-03-19 07:17] 375gnu opened #240 "Broken image with Specular maps and Normalmaps used together"
Caused by eigenization code 85829063e0
See https://celestia.space/forum/viewtopic.php?f=3&t=18678&p=142634#p142634

[2019-03-19 18:18] 375gnu commented on #238
I'm unable to reproduce this on GNU/Linux. I suppose it's an OSX specific bug.

[2019-03-20 02:03] vpontin commented on #239
Thanks a lot! Will close it for now.

[2019-03-20 02:03] #239 closed

[2019-03-20 20:20] LukeCEL commented on #238
Huh. By the way, I also can't copy-paste text. Is this a Mac-specific thing as well?

[2019-03-20 20:47] 375gnu commented on #238
From the console? It never was implemented, as far as I can tell.

[2019-03-20 23:55] vico93 opened #242 "Ceres doesnt have a texture in dwarf-planets extras"
The Ceres SSC entry on `dwarf-planets` in `extras-standard` points to ceres.* as texture, but this file doesnt exist on Celestia nor extras's textures folders, so Ceres is rendered white.

[2019-03-20 23:57] vpontin opened #243 "Pluto and Charon still use old Hubble textures"
In `dwarf-planets` standard extra, Pluto and Charon still uses textures from Hubble telescope, totally  outdated since New Horizons flyby.

Is possible to add at least the incomplete texture from NH?

[2019-03-21 01:04] vpontin opened #244 "HD 186302 have a wrong spectral type"
[This is a solar sibling](https://en.wikipedia.org/wiki/HD_186302) and [should have a spectral type of G2V](https://celestia.space/forum/viewtopic.php?p=142609#p142609), but its listed as a G3.

[2019-03-22 12:57] 375gnu commented on #244
@vpontin could you provide any reliable source that it's really G2V not G3?

[2019-03-22 13:31] #240 closed

[2019-03-22 23:46] vpontin commented on #244
Yeah, i mistook Joey P's comment from that thread and thought that star had wrong spectral type.

[2019-03-22 23:46] #244 closed

[2019-03-24 09:55] Askaniy commented on #242
Ok, thanks, I'll fix it.

[2019-03-24 13:09] Askaniy commented on #243
Here I answered a similar question:
https://github.com/CelestiaProject/Celestia/issues/78#issuecomment-472558191

[2019-03-26 06:52] pirogronian opened #248 "Greek letters parsing regression"
As Celestia store names in already parsed form, it doesn't recognize directly entered or loaded greek names. Suggestion: parse provided names when searching for objects.

[2019-03-26 17:38] pirogronian opened #250 "Earth normal textures errors on console."
Since last commits I have following output in console:
`textures/lores/earth-normal.*: unrecognized or unsupported image file type.`
`textures/medres/earth-normal.*: unrecognized or unsupported image file type.`
`textures/hires/earth-normal.*: unrecognized or unsupported image file type.`
Should I care?

[2019-03-26 19:59] 375gnu commented on #250
Askaniy is working on new normal maps so that's okay to have this error temporary. It will be fixed when new maps are ready.

[2019-03-26 20:24] #248 closed

[2019-03-27 03:17] vpontin opened #251 "Alpha Centauri Bb"
This exoplanet still is shipped with Celestia, even though cientists have ruled out the initial studies as data noise.

https://en.wikipedia.org/wiki/Alpha_Centauri_Bb
https://news.nationalgeographic.com/2015/10/151028-planet-disappears-alpha-centauri-astronomy-science/
https://www.popularmechanics.com/space/a18003/no-alpha-centauri-b-planet/

[2019-03-28 09:14] Askaniy commented on #250
I seem to have made the lines with `NormalMap` parameter commented out. But yes, normal maps will be added where they are listed.

[2019-03-29 22:33] pirogronian opened #253 "Handling "relative names""
Some names are "generated" by adding suffix to parent body name, for example `ALF Cen` is a parent for `ALF Cen A`. And here is my question: does it make valid such a names like `Toliman A`, `Gliese 559 A` etc automatically, without explicit naming in catalog?

[2019-03-31 22:08] lrm25 commented on #251
I can take it out.

[2019-03-31 23:40] LukeCEL commented on #253
I think that's best done manually. There are too many exceptions when naming binary stars. For example, the two components of Gliese 195 are also called Capella H and Capella L, and the system as a whole is called Capella HL.

[2019-04-04 19:04] pirogronian opened #256 "Appveyor build fails"
Appveyour fails to build my branch #247 . I tried to fix it, but it only generated next errors. I'm requesting help from someone more skilled with portable C++ code.

Currently errors regards defining static and constant in-class literals, like this:
`src/celengine/xindexdataloader.h`:
`static constexpr const char CROSSINDEX_FILE_HEADER[] = "CELINDEX";`
`src/celengine/xindexdataloader.cpp`:
`const

[2019-04-05 09:13] 375gnu opened #257 "greek abbrevation with numbers parsing regression"
Before the changes with greek letters parsing:
* type in search console `alf1` - you'll see several suggestions
* `alpha cru` matches `alf1 cru`

After the changes:
* type in search console `alf1` - no suggestions
* `alpha cru` doesn't match `alf1 cru`

[2019-04-05 09:19] 375gnu commented on #256
in src/celengine/xindexdataloader.h remove constexpr
in src/celengine/xindexdataloader.cpp remove that line completelly.

[2019-04-06 13:56] pirogronian opened #260 "Account"
@375gnu please check PM on the forum

[2019-04-06 21:32] lrm25 commented on #8
I know this was created two years ago, but is this still desired?  If so, just on Earth, or everywhere with an atmosphere?

[2019-04-07 12:13] 375gnu opened #262 "replacegreekletter is too gready"
In words which starts with letter combination matching greek letters these combinations are replaced with a corresponding greek letter.

Please see https://celestia.space/forum/viewtopic.php?p=143771#p143771

[2019-04-07 13:35] #260 closed

[2019-04-08 09:52] 375gnu opened #263 "observer:setorientation() creashes celestia"
test code:
[code]

[2019-04-08 10:21] pirogronian commented on #263
@375gnu
I'll fix it when You check my last commit :-)

[2019-04-08 16:17] 375gnu commented on #263
The same issue actually with celx_vector.cpp and maybe other celx files.

[2019-04-08 17:39] #251 closed

[2019-04-08 19:02] #263 closed

[2019-04-09 11:20] #262 closed

[2019-04-09 11:20] #257 closed

[2019-04-12 14:59] 375gnu opened #268 "Dopler shift implementation"
During a spaceflight object colors should be changed according with our direction and speed.

[2019-04-15 20:31] krisztianpinter opened #269 "compile error char_traits ambiguous"
trying to compile newest celestia with newest libfmt from github, getting "reference to ‘char_traits’ is ambiguous" in modelfile.cpp:371:75. complete error message attached.

this is a linux mint,
gcc -v says 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.11)

[error.txt](https://github.com/CelestiaProject/Celestia/files/3081916/error.txt)

[2019-04-16 08:19] pirogronian commented on #269
@krisztianpinter
If you have any programming skills, try add `std::` prefox to `char_traits` or other ambigous tokens. Meanwhile I'm, preparing fix.

[2019-04-16 13:20] pirogronian commented on #269
@krisztianpinter
Please check out my PR #270 .

[2019-04-16 14:02] 375gnu commented on #269
I'd say that's an fmt issue not our. @krisztianpinter why do you need the latest fmt?

[2019-04-16 16:46] krisztianpinter commented on #269
@375gnu i don't. i just didn't bother to pick a version. my plan is to put celestia on amazon linux, and it does not seem to have access to libfmt out of the box. so i just pulled it from github and compiled instead. i can use an older version if i know which older version to use. or maybe instead of compiling, i hunt down a good host for the package and install from there.

and btw yeah, i agree

[2019-04-16 17:16] pirogronian commented on #269
@krisztianpinter
It seems that `fmt` has its own `char_traits` template class: [https://github.com/fmtlib/fmt/search?q=char_traits&unscoped_q=char_traits](https://github.com/fmtlib/fmt/search?q=char_traits&unscoped_q=char_traits).
However, it's in namespace `internal`. Maybe it is his bug that is shown outside. Could You post an issue to them?

[2019-04-16 20:11] 375gnu commented on #269
I have reported https://github.com/fmtlib/fmt/issues/1117

[2019-04-16 20:14] 375gnu commented on #269
@krisztianpinter you don't need to compile fmt on your own, we provide git submodules for less common  dependencies, so i suggest doing the following:
* rm /path/to/local/fmt/installation
* git clone https://github.com/CelestiaProject/Celestia && cd Celestia
* git submodule update --init

then follow usual build procedure.

It seems we should update build instructions :)

[2019-04-16 20:39] krisztianpinter commented on #269
sigh. so much ado about nothing! :)
i think i can close this issue now?

[2019-04-16 20:46] 375gnu commented on #269
Let's wait for fmtlib/fmt#1117 resolution.

[2019-04-17 07:14] 375gnu commented on #269
Fixed on fmt side

[2019-04-17 07:14] #269 closed

[2019-04-25 01:52] glixx opened #273 "Upload translations on transifex"
At the moment transifex has only 4 languages. Please upload other PO files there. So translators can continue translations, but do not start from blank.

[2019-04-25 16:01] pirogronian opened #274 "Duplicated names in database - what should I do?"
Trying to make my branch #247  work, I discovered that some star names in starnames.dat are differently assigned in *stc files. For example, in starnames.dat index 67275 is a `TAU Boo`, while in extrasolar.stc this name is defied for barycenter, while 67275 is bound to `TAU Boo A`. This cause a crash in my code (because barycenter is the same object as orbiting star), but legacy code somehow overc

[2019-04-26 09:33] 375gnu commented on #273
Actually every translator can upload files. I'll do this but that's quite boring :)

[2019-04-26 09:44] 375gnu commented on #274
I believe that current code ("legacy" as you call it) behaves correctly, because Hipparcos might not have enough resolution to distinuish some double stars so they were fixed in stc files using data from other sources.

[2019-04-26 17:48] pirogronian commented on #274
I have to agree.

[2019-04-26 17:48] #274 closed

[2019-04-29 08:53] 375gnu commented on #273
done

[2019-04-29 08:53] #273 closed

[2019-05-03 02:10] neishm commented on #268
What would happen for superluminal velocities?

[2019-05-03 10:37] 375gnu commented on #268
Good question :)

[2019-05-03 11:27] pirogronian commented on #268
If we are going to implement Doppler shift, then why not relativistic effects?

[2019-05-03 12:14] 375gnu commented on #268
I have no idea how objects should look like on such speed :)

[2019-05-05 09:12] 375gnu opened #279 "context menu entry "back to the star""

[2019-05-06 20:08] #119 closed

[2019-05-09 13:03] eloyesp opened #284 "Clarify copyright on assets textures"
It seems that copyright of some assets are not clear enough for the Debian team so those [files][] are extracted to a different package [celestia-common-nonfree][] stating that:

    This package contains the data files for Celestia that have no DFSG compatible license or an unclear license.

I've been looking and there is no clear mention on the copyright of those files so may be a proper mention

[2019-05-09 20:01] pirogronian opened #285 "Astrodb branch bugs hunting help request"
Concerns: #247
Currently most annoying bug: blinking of most nearby star while dragging, rotating view (star rendered or not).
Debugging method:
1. Select target star
2. Press ` to see debug info
3. Rotate or drag view and see star disappearing and debug data changes

Quick dictionary:
"Sel. node" - an octree node containing selected star
"Last sel. node" - last octree node, containing selected st

[2019-05-10 06:24] lrm25 commented on #279
I can work on this one

[2019-05-10 09:19] 375gnu commented on #279
Yes please. I assign this bug to you

[2019-05-11 14:21] 375gnu commented on #284
We aware of this and plan for 1.7.0 release cleanup all license issues.

[2019-05-11 17:04] pirogronian commented on #285
After adding  frustum tracking there is apparent that frustum works inconsequently. At the bottom there is chain of nodes from root to selected star. For some stars there are holes in in-frustum placement ("+" means node within frustum, "-" - out of frustum). I presumed, that every child of node out of frustum also is out of frustum. Am I wrong?

[2019-05-12 18:39] #285 closed

[2019-05-14 16:13] 375gnu commented on #238
Hi @LukeCEL, does Ctrl-H work for you?

[2019-05-15 02:13] LukeCEL commented on #238
Ctrl-H selects the parent object. For example, if I have "Moon" selected, repeatedly pressing Ctrl-H selects "Earth", "Sol", "Solar System Barycenter", then de-selects it.

Maybe we're talking about different things by "console". I am talking about the purple rectangle at the bottom of the screen when you press "Enter". There, I am able to copy and paste text.

[2019-05-15 11:08] 375gnu commented on #238
On 5/15/19, LukeCEL <notifications@github.com> wrote:

With console activated?

In GNU/Linux Ctrl-H behaves as backspace.

Me too.

It was implemented by pirogronian recently.

[2019-05-17 19:41] 375gnu opened #287 "All code should be namespaced"
Some classes or structures have too generic names (e.g. Marker) that can cause name conflicts with 3rd party software used by Celestia (e.g. Marker is defined in system OSX library).

To prevent such conflicts and allow usage of Celestia as library in other projects we should namespace our code.

[2019-05-25 15:19] 375gnu opened #290 "Fix fast-math build"
Fix builds with `-ffast-math` set.

[2019-06-04 19:54] pirogronian opened #295 "Compilation error with LuaJit support"
My compilation of master failed with several errors like these:
`src/celestia/celx.cpp:476:13: error: ‘lua_open’ was not declared in this scope`
`src/celestia/celx.cpp:695:13: error: ‘lua_iolibopen’ was not declared in this scope`
`src/celestia/celx.cpp:928:76: error: too few arguments to function ‘int lua_load(lua_State*, lua_Reader, void*, const char*, const char*)`
`src/celestia/celx.cpp:1125:1

[2019-06-05 09:00] 375gnu commented on #295
Have you cleaned up your buildspace? cmake caches a lot and then an old lua used instead of a new one (the same will be if you switch from 5.3 to 5.2 or 5.1 or vise verse).

[2019-06-05 13:17] pirogronian commented on #295
Indeed, removing `CMakeCache.txt` helped.

[2019-06-05 13:17] #295 closed

[2019-06-18 21:35] 375gnu opened #302 "Random SIGSEGV when enabling planetary axes"
Backtrace:
[code]

[2019-06-20 10:02] #302 closed

[2019-06-29 14:06] freebrowser1 opened #309 "Build for 64 bits macOS 10.15 Catalina and Ubuntu"
Where can I find an install kit or a build kit to build a 64 bits Celestia for macOS ?
The version 1.6.1 is from 2011 and does not run on macOS 10.15 as it is 64 bits only.
The same applies to Ubuntu, as 19.10 does not support 32 bits anymore.

[2019-07-01 10:27] 375gnu commented on #309
Hi @freebrowser1 , we don't have 1.7 release yet so we don't provide any installers of packages for it.

You can always compile Celestia, just follow instructions from INSTALL files.

[2019-07-05 00:54] lrm25 commented on #279
Does celestia have any rogue planets which don't have parent stars, so that I don't include the menu option in that case?

[2019-07-05 08:13] 375gnu commented on #279
On 7/5/19, Luke <notifications@github.com> wrote:

Currently not, but if you add such possibility in advance that will be great.

[2019-07-05 09:33] pirogronian commented on #279
Does celestia have any rogue planets which don't have parent stars, so that
 I don't include the menu option in that case?
Currently not, but if you add such possibility in advance that will be great.

It should be soonly implemented in my branch astrodb.

[2019-07-06 04:44] lrm25 commented on #279
Do you want the option added to dwarf planets as well?  Any other bodies orbiting stars?

[2019-07-06 10:27] 375gnu commented on #279
Yes. And not only for bodies but also for bodies orbiting other bodies. So if we have a spacecraft on a Moon orbit, the it's "Back" selects the Moon, the Moon's "Back" selects Earth and Earth's one selects the Sun.

[2019-07-08 01:12] lrm25 commented on #279
OK.  How do you want me to handle Pluto-Charon, which has a "Reference point" at its center, rather than an actual object?

[2019-07-08 09:32] 375gnu commented on #279
@LukeCEL, @Askaniy could you elaborate with the question above?

[2019-07-08 15:44] 375gnu commented on #279
Personally I'd prefer to ignore ref points and use a planet or dwarf planet of a pair as a main body, so in this case for Charon "back" will select Pluto.

[2019-07-12 10:24] 375gnu commented on #8
Hi @lrm25 , I haven't seen your question before. If you want to pick up this issue please go on. I believe this should be implemented using glsl shaders. If properly implemented this will be automatically enabled for all planets with atmosphere.

[2019-07-16 05:32] anidotnet commented on #32
The current auto package installation script does not work on Ubuntu 19.04 64-bit. It fails to run with libpng12 dependency error. I would highly appreciate it if you guys provide snap or flatpack images.

[2019-07-16 05:42] anidotnet commented on #16
I would highly appreciate it if you guys provide snap or flatpack images.

[2019-07-16 08:57] 375gnu commented on #32
On 7/16/19, Anindya Chatterjee <notifications@github.com> wrote:

We don't use neither of that package formats. Please volunteer.

[2019-07-16 09:34] 375gnu opened #321 "New eclipse finder shows incorrect time"
looks like TZ offset is substructed twice. qt frontend was checked only so far.

[2019-07-17 09:32] 375gnu opened #322 "Windows maintainer required"
We don't have any windows maintainer

[2019-07-17 09:33] 375gnu opened #323 "OSX maintainer required"
We don't have any OSX maintainer

[2019-07-18 14:47] eyvallah commented on #323
would love to help, what is needed?

[2019-07-18 17:40] 375gnu commented on #323
Hi @eyvallah !

We need somebody able to test Celestia regularly on OSX platform, report and potentially fix found bugs (We were reported that stars are rendered incorrectly on OSX). Provide builds as homebrew and dmg packages. Replace deprecated OSX functions used in the Qt5 interface with modern equivalents. Make native interface buildable (src/celestia/macosx dir) and update it to be in sync wi

[2019-07-18 19:52] #321 closed

[2019-07-19 11:13] eyvallah commented on #323
I think I can help. I have experience working in both Qt and OSX. will try to set up a starting environment locally if I have time this weekend

[2019-07-19 11:24] 375gnu commented on #323
Great!

[2019-07-23 03:30] eyvallah commented on #323
How do we fix the CI, seems to be missing the glew dependency but the config should have it installed. Is it because the system/Xcode is outdated?

[2019-07-23 08:59] 375gnu commented on #323
It looks like the homebrew cache is outdated in OSX images used by Travis

[2019-07-23 09:37] 375gnu commented on #323
According to https://docs.travis-ci.com/user/reference/osx/#compilers-and-build-toolchain

[code]

Or we can switch to another version:
https://docs.travis-ci.com/user/reference/osx/#macos-version

[2019-07-23 14:34] eyvallah commented on #323
Yeah it's the homebrew's issue, I didn't read the detail of homebrew package installation since it's folded on CI output. I think we should switch to a newer version first. While I have some linking issue on macOS 10.15 + Xcode 11, osx_image: xcode10.2 sounds like a good choice.

[2019-07-27 17:22] pirogronian commented on #130
Implemented in #247

[2019-07-27 17:22] #130 closed

[2019-08-02 10:40] munix9 opened #333 "AppImage, first attempts - a small tutorial"
**Build system: openSUSE 15.1 x86_64
Test system: Ubuntu 18.04.2 amd64 (VM)
Version: celestia-qt, git master (with additional hacks/patches and spice enabled)**

create a working directory (is arbitrary, can be moved or renamed later)
[code]
download the AppImage file
[code]
and make it executable
[code]
create a portable home folder to use as $HOME
[code]
create a portable config folder to use as

[2019-08-02 14:38] eyvallah opened #334 "macOS version should be distributed in App Bundle"
Currently the CMake script builds and installs Celestia executable to prefix/bin directory and resources to prefix/share directory, whereas macOS Applications are usually distributed in App Bundles with a fixed location of resources. And it's also the way it can be distributed on Mac App Store/brew cask.

The CMakeLists.txt in celestia/qt needs to have MACOSX_BUNDLE variables set on macOS platform

[2019-08-02 15:12] 375gnu opened #335 "Fix bookmarks location"
As mentioned in #333 bookmarks are saved to $HOME/.config/ instead of $XDG_CONFIG_HOME.

gtk & win32 should be checked as well.

[2019-08-03 05:54] eyvallah commented on #334
With #336 , Celestia is running in application bundle

![screenshot](https://user-images.githubusercontent.com/17924287/62408127-280c7c80-b5f6-11e9-90c0-17613165fc0f.png)

[2019-08-03 07:34] 375gnu commented on #334
Looks great!

But does homebrew package should use Resource folder? I'm not an OSX user, so i'm jugging just by some paths seen in brew packages. So I thought that are just installed to /usr/local like on unix-like systems.

[2019-08-03 07:43] eyvallah commented on #334
/usr/local are usually for command line executables, GUI applications on macOS usually are distributed via a DMG containing an App Bundle.

celestia.app
-Contents
--MacOS
---celestia-qt and other tools
--Resources
---data files

While it's possible to distribute GUI application in /usr/local fashion just like it does on linux and etc, it's more viable to distribute in App Bundles since most macOS

[2019-08-03 07:58] 375gnu commented on #334
Okay, I suppose you know your system better than me. I just want to have possibility to build like on GNU/Linux because some community members know how to use `cmake && make && make install` and I don't want accidentally break anything for them.

[2019-08-03 08:00] eyvallah commented on #334
I’ll separate the two by native_osx_app, will look into it later.

[2019-08-03 14:34] #335 closed

[2019-08-04 16:13] probonopd commented on #333
Sounds like a case for a custom AppRun script?

[2019-08-04 18:29] 375gnu commented on #333
I'm sorry, i don't get. Could you explain a little bit?

[2019-08-04 18:32] 375gnu commented on #333
With #335 merged, this:

and this:

is not required any more (crossing my fingers :) )

[2019-08-04 18:35] probonopd commented on #333
From what you wrote it seems like the user has to export certain environment variables in order to make this work. What I wanted to point to is `AppRun`, a file inside the AppImage which you can use to write your own script, that would export the needed environment variables.

Let me know if you are stuck and need concrete help.

[2019-08-04 18:38] munix9 commented on #333
Please note:
[code]
have nothing to do with problems or errors, on the contrary, they offer the possibility to store configurations and the like not under $HOME/, $HOME/.config, $HOME/.local, but under the above mentioned portable directories.

[2019-08-04 18:45] probonopd commented on #333
Sorry, then I was misunderstanding. In fact it's really as simple as those 3 steps:

# Tutorial how to run the AppImage

[code]

Here it is running on Xubuntu 18.04:

![celestia](https://user-images.githubusercontent.com/2480569/62427803-f7a50b00-b6e7-11e9-9f90-9342c5743496.png)

__Awesome!__ :+1:

[2019-08-04 18:53] munix9 commented on #333
It would certainly be an advantage to clean up https://build.opensuse.org/project/show/OBS:AppImage, install new versions and fix the existing unresolvable/failed/broken builds.
But there are others in charge, I'll probably make a bug entry.
I've also noticed that AppImageUpdate doesn't work correctly with the AppImages generated by OBS - but I need to take a closer look at that.

The thing with l

[2019-08-04 18:56] 375gnu commented on #333
Seems that you are correct, because as I see if you don't explicitly create those dirs appimage use default $HOME etc.

But frankly speaking `--appimage-portable-config` required only for those who has nondefault `$XDG_CONFIG_HOME`. And appimage doesn't have means to redefine `$XDG_DATA_HOME`.

[2019-08-04 18:58] 375gnu commented on #32
Please join AppImage testing, see #333 for more info.

[2019-08-04 19:01] probonopd commented on #333
https://github.com/AppImage/AppImageUpdate

![aiu-fails](https://user-images.githubusercontent.com/2480569/62427915-da713c00-b6e9-11e9-9c99-b096083b6b1a.png)

https://github.com/antony-jr/AppImageUpdater

![aiur](https://user-images.githubusercontent.com/2480569/62427922-ee1ca280-b6e9-11e9-8443-bd707adde7d0.png)

This message is actually very helpful @antony-jr. We can see:

[code]
So it seems lik

[2019-08-04 19:06] probonopd commented on #333
Do you think we should add it?

[2019-08-04 19:08] munix9 commented on #333
yep, I was thinking something like that, thanks for testing.

For celestia AppImageUpdate would be very advantageous, so you don't have to download the whole package with every build.

[2019-08-04 19:18] probonopd commented on #333
Indeed! :+1:

[2019-08-04 19:18] 375gnu commented on #333
This sounds logical to me.

[2019-08-04 19:19] probonopd commented on #333
Would you be interested in having an updater inside the application? There is a Qt plugin that can do it. https://github.com/TheFutureShell/updatedeployqt

[2019-08-04 19:53] munix9 commented on #333
That sounds interesting. I'll take a closer look.

[2019-08-05 00:02] dlshcbmuipmam commented on #322
Hi, I am not that skillful in Windows, but at least I can test the build regularly. What is the plan for Windows though? Are you planning to support both the MSVC build and MINGW build?

By the way, the suggested way to install qt5 through vcpkg is not working, due to this bug https://github.com/microsoft/vcpkg/pull/7313. I have to download the qt5 library directly to build Celestia. Sometimes vcp

[2019-08-05 11:12] 375gnu commented on #322
Hi @dlshcbmuipmam !

Even if you can just test our builds, especially pull requests so we are get notified about any issues on Win platform before we merge, it would be great.

Personally I have Qt installed using its installer in my VM.

[2019-08-05 11:43] antony-jr commented on #333
@munix9 let me know if you want to integrate the updater into your application. You can also use https://antony-jr.github.io/AppImageUpdaterBridge which can be used as a library or as a Qt plugin to do the self update. Its entirely written in Qt and respects the event loop.

[2019-08-05 12:10] 375gnu opened #342 "Predict leap seconds"
We can predict leap seconds algorithmically.
Old algorithm can be found in Meeus; Astronomical Algorithms.
More correct one is described in https://eclipse.gsfc.nasa.gov/SEhelp/deltatpoly2004.html

[2019-08-05 12:15] 375gnu opened #343 "Users should be able to provide own leap seconds"
Basically we provide "previous" leap seconds, in the best case we can calculate upcoming but still should provide means to provide them using config files, so more correct values can be used.

[2019-08-05 12:16] 375gnu commented on #342
This link provides several useful links: http://mm.icann.org/pipermail/tz/2019-July/028377.html

[2019-08-05 15:01] 375gnu commented on #342
Better to read the whole thread: http://mm.icann.org/pipermail/tz/2019-July/028270.html

[2019-08-05 15:29] dlshcbmuipmam commented on #322
Ok, minimally I will test the builds in release configuration with pull requests via the VS2017 compiler, and report if there is any issues.

[2019-08-05 15:42] antony-jr commented on #333
@munix9 If you want to see how the update works, See how qtox uses it -> https://github.com/qTox/qTox-nightly-releases/releases

After downloading it, add some garbage data to trigger an update,
[code]

go to settings -> about -> update available (button will appear after some time)

[2019-08-07 09:45] 375gnu commented on #279
Implemented in #339

[2019-08-07 09:45] #279 closed

[2019-08-07 09:46] #256 closed

[2019-08-07 09:47] 375gnu commented on #238
@eyvallah could you check if this works for you?

[2019-08-07 11:07] eyvallah commented on #238
@375gnu It seems when backspace is pressed, qtglwidget.cpp line 433, \x7f is passed in charEntered, which Celestia treats as a backtab

[2019-08-07 19:42] Adriankhl opened #348 "QT_SCALE_FACTOR mouse selection bug"
It is pretty common to use QT_SCALE_FACTOR to magnify the UI. In celestia, setting QT_SCALE_FACTOR != 1 would introduce a bug - you can't select the star your mouse pointing at. Instead, it selects something located somewhere upper-left to where you point at.

[2019-08-07 20:01] dlshcbmuipmam opened #349 "Missing arrow in qt-5.13"
To the left of "Solar system barycenter", there should be a small arrow where it shows the list of the objects in the solar system. That arrow is missing in the MSVC build with the latest qt 5.13

[2019-08-07 20:06] dlshcbmuipmam opened #350 "MinGW debug build fail"
The debug build in MSYS2 + MinGW by
`cmake .. -G "MSYS Makefiles" -DENABLE_WIN=OFF -DCMAKE_BUILD_TYPE=Debug`
takes forever to link the celestia-qt.exe. This can be related directly to MinGW, or gcc9.1 (the compiler in my MinGW).

This should not be a high priority issue, but it is better to keep an eye on what cause this problem.

[2019-08-08 06:31] dlshcbmuipmam commented on #349
It can also be related to latest qt 5.13

[2019-08-08 09:43] 375gnu commented on #348
Currently our Qt frontend doesn't support HiDPI properly (easy to fix, just 2 lines). Then we can check if QT_SCALE_FACTOR is set and scale coordinates sent to celestiacore.

[2019-08-08 09:51] 375gnu commented on #349
I think so too

On 8/8/19, khlai <notifications@github.com> wrote:

[2019-08-08 10:50] dlshcbmuipmam commented on #349
I delete my comment because I thought I was using qt 5.12 in vcpkg. Instead I realize that I am using the direct download of qt 5.12, my fault

[2019-08-08 14:34] dlshcbmuipmam commented on #349
Confirmed, it is a problem with qt 5.13

[2019-08-08 18:33] 375gnu commented on #348
Might be useful: https://vicrucann.github.io/tutorials/osg-qt-high-dpi/. I don't have a hidpi screen to verify.

[2019-08-11 10:39] eyvallah commented on #238
@375gnu well apparently, on MacBooks, there is technically no backspace button, it's the "delete" button that works as backspace, and delete button has key code \x7f. according to what's written in the original OS X implementation, some keys needs to be handled differently. I'll submit a pull request fixing it later

[2019-08-11 13:21] dlshcbmuipmam opened #352 "Suggestion: change files structure or change STATIC library to OBJECT"
Currently, the sub-libraries of Celestia are quite chaotic. For example, celestia depends on celengine, and celengine depends on celestia. This dependencies are not stated clearly in the cmake files - there are some missing libraries in the target_link_libraries.

This is the reason why shared libraries can't be built, and it is harmful for people (like me :) ) to understand the programming logic.

[2019-08-11 16:32] pirogronian commented on #352
@dlshcbmuipmam Probably You're right. We just follow maintaining structure created by earlier programmers. I see no reason for maintaining separated modules such a celengine and celestia. I'd rathet divide the code into, for example, render/, input/, lua/, core/, etc. Celmath, celutil and others small modules seens to have more clear deps. But our changes are slow due to lack of human power :-)

[2019-08-11 18:06] dlshcbmuipmam commented on #352
@pirogronian This summarizes the dependencies:
cel3ds: celutil
celengine: cel3ds, celephem, celestia, celmath, celmodel, celtxf, celutil
celephem: celengine, celmath, celutil
celestia: celengine, celephem, celmath, celtxf, celutil
celmath:
celmodel: celutil
celtxf: celutil
celutil: celmath

As you can see, celengine, celephem, celestia mess up with each other.

A simple fix would be grouping celen

[2019-08-11 18:49] pirogronian commented on #352
@dlshcbmuipmam You always can post a pull request, however due to massive files relocations I would wait for @375gnu opinion.

[2019-08-11 19:09] 375gnu commented on #352
Basically agree.

Actually only one thing in celengine/ depends on celestia/: legacy scripting, I thought that we should move it to celestia/ subdir.

Celephem/ technically is a part of celengine/, on the other hand it depends on astro utilities and parser, both can be moved to their own libs. It also depends on body.h but I hope once we will remove this code :)

Our CMakeLists.txt contain traces

[2019-08-12 08:15] dlshcbmuipmam commented on #350
I accidentally found a solution, use the lld linker instead of the default linker
cmake .. -G "MSYS Makefiles" -DENABLE_WIN=OFF -DCMAKE_CXX_FLAGS='-fuse-ld=lld'

[2019-08-12 08:15] #350 closed

[2019-08-12 09:33] 375gnu commented on #350
@dlshcbmuipmam could you document the workaround in INSTALL.txt?

[2019-08-12 11:12] dlshcbmuipmam commented on #350
@375gnu Sure.

[2019-08-12 12:56] #238 closed

[2019-08-12 18:00] 375gnu opened #357 "Star::getOrbitBarycenter() returns star itself in some cases"
See https://celestia.space/forum/viewtopic.php?f=15&t=19795&p=145374#p145374 for more info.

[2019-08-13 08:50] #352 closed

[2019-08-14 10:55] 375gnu opened #360 "Splitting data and code repositories"
We have a proposal from Celestia Origin team to separate data from our code repository and develop it as a part of Celestia Origin bundle.

Celestia Origin will we divided into several parts, for example, "basic", "additional data", "complete". We will build our releases using "basic" set so a user will have a usable Celestia just after a installation. To use bigger sets the user will have to down

[2019-08-14 10:55] 375gnu opened #615 "Splitting data and code repositories"
We have a proposal from Celestia Origin team to separate data from our code repository and develop it as a part of Celestia Origin bundle.

Celestia Origin will we divided into several parts, for example, "basic", "additional data", "complete". We will build our releases using "basic" set so a user will have a usable Celestia just after a installation. To use bigger sets the user will have to down

[2019-08-15 08:24] 375gnu commented on #360
@pirogronian , what do you think?

[2019-08-15 08:55] pirogronian commented on #360
Oh yeah, I have read it yesterday but forgot to express my support. So, hereby I strongly support this idea too.

[2019-08-16 11:44] dlshcbmuipmam opened #364 "Fails to compile on MSVC 2017"
After the latest group of commits, celestia fails to compile with MSVC 2017. It compiles with MinGW though.

Messages:
[code]

[2019-08-16 12:13] 375gnu commented on #364
I don't think that binary compatibility is an issue for us as we don't any public libraries, so this can be solved with a mere
[code]

[2019-08-16 12:55] dlshcbmuipmam commented on #364
Ok, I have added it to the pull request.

[2019-08-16 14:10] #364 closed

[2019-08-16 17:10] #106 closed

[2019-08-17 04:10] eyvallah opened #367 "Xcode's clang seems to dislike passing object in varargs"
the cmake generated Makefile and Xcode project works, however the native project I'm maintaining is still throwing error (in addition to the class name clash) in compiling with the fmt commit.

for passing string/fs in DebugPrint:
Can not pass object of non-trivial type /xxx/ through variadic function; call will abort at runtime

for the vprintf in debug.cpp:
No matching function for call to 'vfpr

[2019-08-17 06:33] 375gnu commented on #367
my fault, fmt doesn't have vfprintf. strange, i was checking debug builds.

[2019-08-17 06:58] 375gnu commented on #367
it seams that we should reimplement this using variadic templates:

[2019-08-22 00:55] #367 closed

[2019-08-23 10:10] 375gnu opened #371 "Release 1.6.2"
I suppose it worth to release a new bugfix release 1.6.2 with some tiny code imports from 1.7.0.

TODO list with PRs:
---
Beta1:
- [x] Fix #17 - 6eb21fe
- [x] Update leap seconds - #398
- [x] Import patches from GNU/Linux & *BSD distributions - #396
- [x] Update to Lua5.3 - #394, #419
- [x] Make Kpc translatable - #418
- [x] Make GTK+ frontend translatable - #423
- [x] Fix OSX frontend for modern

[2019-08-23 10:50] eyvallah commented on #371
on all platforms? I feel it will be quite some effort to make the 1.6.1 branch work.

[2019-08-23 11:43] 375gnu commented on #371
It would be good to have it for all platforms, but it depends on the
efforts required actually

[2019-08-23 13:04] eyvallah commented on #371
I just tried building the 1.6.1 branch with the Xcode project, to my surprise, it wasn't difficult to get it running.  the only thing that required some work will be the replacement for SetThemeCursor.

[2019-08-23 13:10] 375gnu commented on #371
sounds good

[2019-08-24 18:28] munix9 commented on #333
FYI: I used https://github.com/antony-jr/updatedeployqt to test the update option (the "1" tag, the "continuous" tag doesn't seem to work at the moment).
I think it's a quick and easy way to try out an integrated update functionality - the code doesn't need to be changed - except for assigning a QObject name for the help menu.
AppImageUpdaterBridge seems to be an interesting alternative - let's se

[2019-08-25 05:18] antony-jr commented on #333
You can also try matching the substring of all QMenu objects or QAction objects in the program.

[2019-08-25 08:13] joequant opened #374 "solar system objects not appearing in browser"
This is happening with a compile of commit bcce846 on 20190822.

Not seeing any objects in solar system browser.

![2019-08-25 16-11-55 的螢幕擷圖](https://user-images.githubusercontent.com/2908185/63647393-29434c00-c753-11e9-8f6b-95f888f7e147.png)

[2019-08-25 15:18] 375gnu commented on #374
Actually the 1st problem commit is b6b54343, but I don't have Earth texture

[2019-08-26 11:37] 375gnu commented on #374
Currently it looks like #349

[2019-08-26 17:55] dlshcbmuipmam commented on #374
@375gnu Yes it is exactly what I saw in my qt-5.13 build

[2019-08-26 17:58] dlshcbmuipmam commented on #374
@joequant Could you check your qt version?

[2019-08-26 18:19] munix9 commented on #374
This is similar to openSUSE Tumbleweed since it was switched to Qt 5.13 there.

Build log:
https://build.opensuse.org/build/home:munix9:unstable/openSUSE_Tumbleweed/x86_64/celestia/_log

https://software.opensuse.org//download.html?project=home:munix9:unstable&package=celestia

[2019-08-26 23:36] eyvallah commented on #374
it seemed to me  it's qt's createIndex in qtsolarsystembrowser.cpp, at line 503 isn't working well.

[2019-08-27 03:11] eyvallah commented on #374
make SolarSystemTreeModel inherit directly from QAbstractItemModel seemed to solve the issue? @375gnu

![ss](https://user-images.githubusercontent.com/17924287/63738088-38dda480-c8bb-11e9-863e-83bb915a7a9a.png)

[2019-08-27 09:31] 375gnu commented on #371
@pirogronian what do you think?

[2019-08-27 15:12] munix9 opened #376 "Celestia crashes if a directory in ExtrasDirectories does not exist"
openSUSE Tumbleweed, Celestia bcce84601

If I enter a directory in celestia.cfg that does not exist, Celestia crashes on startup.

Example ("/tmp/test" does not exist) in celestia.cfg
[code]
[code]

[2019-08-27 19:45] #349 closed

[2019-08-27 19:45] #374 closed

[2019-08-27 19:58] pirogronian commented on #371
I bless this idea.

[2019-08-27 20:43] #376 closed

[2019-08-29 09:02] munix9 commented on #333
A thing that might be better solved:
If an update is available, then the new file gets the name e.g.
[code]
This makes the existing directories
[code]
obsolete because they are not automatically renamed.

Is there a solution for this?

[2019-08-29 12:56] antony-jr commented on #333
@munix9 Actually, the updater renames it only if a file with the target file exists, in the official updater, the old file is moved with the extension ```.zs_old``` but I decided to not touch the old version and let the users handle it. We can however add a option to delete the old file when this conflict occurs, or we can rename it just like how the official updater does.

[2019-08-29 12:59] antony-jr commented on #333
Also if we keep moving old version with the extension ```.zs_old```, other such version will be lost forever. In case the AppImage uses the same name for every release like in your case.

[2019-08-30 05:49] probonopd commented on #333
First of all, only ONE of the following should be used:

[code]

You could, as part of a custom `AppRun`, do something like (untested pseudo-code):

[code]

Does this make sense?

[2019-08-30 07:02] munix9 commented on #333
Yes, ```AppImage.home``` should be sufficient.
I had already considered and tested an adaptation in the AppRun.
Maybe with a fallback, if a ```version-AppImage.home``` does not exist for the current version, then use the general ```AppImage.home``` if available - similar to what you suggest.
This might make sense.
Let's see if there's any revealing feedback from the users.

[2019-08-31 16:16] dlshcbmuipmam opened #382 "Debug build fail (MSVC and MinGW)"
Debug builds fail in Windows with the following message, where release builds compile successfully.

It is related to the commit 4c20e54119a1b212528ca52048fdb267dd224c43 and the DPRINTF() in Texture* TextureInfo::load(const fs::path& name), either undoing the commit or comment out the DPRINTF() would make it compile.
[code]

MSVC compile message:
[code]

[2019-09-01 00:44] #382 closed

[2019-09-01 03:29] eyvallah commented on #371
there are a few platform issues related to Mac, since it has changed over the years

1. 64 bit, the coming macOS release this September is going to drop 32bit support entirely, and 1.6.1 will not run on macOS 10.15 anymore. thus 1.6.2 is urgently needed
2. Codesigning, a non-codesigned app refuses to run on the current releases of macOS. Codesigning prevents its bundle from being modified, thus us

[2019-09-01 20:26] 375gnu commented on #371
@eyvallah could you handle p2&3? If not, we can still distribute Celestia through homebrew, but in that case only experienced users will be able to use it.

[2019-09-02 03:09] eyvallah commented on #371
@375gnu I will fix these as I already have done in my personal swift Celestia project which i might contribute as a base native setup for 1.7.0 sometime. Also I  have Apple developer ID so i can codesign Celestia and host it on the app store, and hopefully it will bring this project much more exposure. To provide flexibility of data folder/config file path, i think i'll need to add some button, in

[2019-09-02 10:17] 375gnu commented on #371
Are you Markerz from the forum?

[2019-09-02 10:35] eyvallah commented on #371
ye ah that's me

[2019-09-04 14:29] munix9 opened #388 "Debian_10 and Ubuntu_18.04 packages on OBS"
The OBS now also creates packages for Debian_10 and Ubuntu_18.04, as well as for openSUSE Leap 15.1 and Tumbleweed (git master).

https://build.opensuse.org/package/show/home:munix9:unstable/celestia
https://software.opensuse.org/download.html?project=home:munix9:unstable&package=celestia

https://build.opensuse.org/package/binaries/home:munix9:unstable/celestia/Debian_10
https://build.opensuse.or

[2019-09-04 14:36] 375gnu commented on #388
Thank you! I will test it.

[2019-09-04 19:21] 375gnu commented on #242
fixed by #389

[2019-09-04 19:21] #242 closed

[2019-09-04 19:33] 375gnu commented on #388
To enable repository:
[code]

[2019-09-04 19:34] 375gnu commented on #388
I also need to fix dependencies for those who have old 1.6.1 installed from Debian 8

[2019-09-04 19:41] 375gnu commented on #357
[code]

[2019-09-05 11:35] 375gnu commented on #388
@munix9 is it possible to change version representation? Now it looks like `1.7.0+git.1567624803.31cc7363d+182.1` so problems are:
1. `+` sign make it higher then just `1.7.0` or `1.7.0-n`. Is it possible to replace it with `~`?
1. date is written as Unix timestamp. Is it possible to replace it with %Y%m%d?

[2019-09-05 14:40] munix9 commented on #388
eg: `1.7.0~git.20190904.31cc7363d+182.1` ?

[2019-09-05 15:02] 375gnu commented on #388
Yes, this will be much better. But, `1.7.0~git20190904+31cc7363d-182.1` would be even better as it follows usual debian convention.

[2019-09-05 17:32] munix9 commented on #388
hm, I would prefer
`1.7.0~git20190904+31cc7363d+182.1`

The "+" sign for the release is added by debtransform in OBS
https://github.com/openSUSE/obs-build/blob/master/debtransform#L374-L385
Strangely enough, a "-" character was apparently used earlier and then changed to a "+" character, see https://github.com/openSUSE/obs-build/pull/352

Alternatively the config `DEBTRANSFORM-RELEASE` for the Deb

[2019-09-05 20:16] 375gnu commented on #388
Yes please. As we build "native" packages then we don't need release.

[2019-09-06 09:35] munix9 commented on #388
done.

[2019-09-06 09:38] 375gnu commented on #388
Thank you! Looks good!

[2019-09-10 20:18] 375gnu commented on #309
@freebrowser1 see #388 for instructions how to use our OBS builds

[2019-09-13 21:50] 375gnu opened #405 "Comet tail fading uses visual luminosity"
As reported by @ajtribick in the old bugzilla (https://sourceforge.net/p/celestia/bugs/160/):

The code used for comet tail fading uses the star's visual luminosity to determine the distance, rather than the bolometric luminosity.

This is most obvious around systems with extremely large discrepancies between the two values, e.g. PSR B1257+12 which has visual luminosity=0.00000000136 times solar a

[2019-09-14 14:05] shujaatak opened #406 "How to show latitude longitude position of mouse pointer over a celestial body?"

[2019-09-14 15:19] 375gnu commented on #406
I've never seen such code in Celestia. I don't think it will be hard to implement it, basically it just a few transformations. Patches are welcome.

[2019-09-14 15:36] shujaatak commented on #406
As I am not aware of the Celestia internals so can we make it a feature request?

[2019-09-14 15:57] 375gnu commented on #406
done. but this doesn't mean that it will implemented.

[2019-09-14 16:13] shujaatak commented on #406
First of all thank you so much for making it a feature request, hopefully someone will be able to help in this reqard. Secondly can I ask which classes/part of code I should see to understand the Celestial internal transformations etc? Any ideas?

[2019-09-15 17:43] 375gnu commented on #406
I suppose https://github.com/CelestiaProject/Celestia/blob/master/src/celengine/body.cpp and https://github.com/CelestiaProject/Celestia/blob/master/src/celengine/lodspheremesh.cpp are the best places to start.

[2019-09-16 16:08] #253 closed

[2019-09-16 16:15] pirogronian opened #407 "Qt warning around OpenGl"
My last qt build from 13 sept (which works fine except that) put on the unix console following statement:

[2019-09-19 21:01] #405 closed

[2019-09-21 09:37] 375gnu opened #410 "Make spice support dynamically loadable"
NASA's spice library has proprietary obscure licence which prevents its inclusion into GNU/Linux distributions and BSD ports. I.e. see https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=841104.

Excerpt from https://naif.jpl.nasa.gov/naif/rules.html:

So while we can provide spice-enabled packages, users of e.g. Debian will not have spice enabled. So the alternative approach is to make spice-enable

[2019-09-23 11:26] 375gnu opened #416 "Allow to blacklist files in data/extras/extras-standard"
Currently Celestia ships a lot of outdated data. Celestia Origin installation script removes a lot of them, instead we can keep a list of files prohibited to load.

[2019-09-24 21:00] 375gnu opened #417 "Remove logoTexture from celestiacore"
For quite a while Celestia 1.7 supports overlay images set by cel/celx scripts. On the other hand it has hardcoded logotexture shown on startup. It seems natural to remove that C++ code and replace it with one line in start.cel.

It will require some additions to overlay image to support colors but for me it's OK to have more usable generic overlay image rather then the current approach.

Any obje

[2019-09-25 11:43] pirogronian commented on #417
You have my blessing.

[2019-10-02 06:57] SvyatoslavRazmyslov opened #425 "Bugs detected in Celestia code with the help of PVS-Studio"
Hello. I've found some bugs using PVS-Studio tool. [PVS-Studio](https://www.viva64.com/en/pvs-studio/) is a static code analyzer for C, C++, C#, and Java.

Code review: [Celestia: Bugs' Adventures in Space](https://www.viva64.com/en/b/0673/).

[2019-10-02 12:30] 375gnu commented on #425
Thank you for checking. Actually I run PVS-Studio from time to time, so you can even find some commits closing its reports, but I've never checked windows frontend and tools.

[2019-10-02 12:42] SvyatoslavRazmyslov commented on #425
@375gnu, the PVS-Studio is cross-platform tool. I used the `.appveyor.yml` to configure build environment.

[2019-10-02 13:46] 375gnu commented on #425
I know, I'm just too lazy to enable it for all PRs. BTW, on Debian Sid it segfaults, I'll check the latest version on up-to-date installation and report through a feedback form.

[2019-10-04 17:49] #425 closed

[2019-10-04 21:40] 375gnu commented on #371
Hi @eyvallah I've just created a 1.6.2-beta1 tag. Could you provide an OS X build for it so OS Xusers can join testing?

[2019-10-04 23:21] eyvallah commented on #371
I’ll see to it tomorrow

[2019-10-05 09:07] pirogronian commented on #371
It looks like installation framework is incomplete. Instruction talks about `configure` script, which is missing. CMake also is missing. Just `make && makeinstall`? How to provide interface and/or prefix path?

[2019-10-05 09:15] munix9 commented on #371
@pirogronian `autoreconf -fi`
@375gnu do you need 1.6.2~beta1 packages for Debian 10/Ubuntu 18.04 on OBS?

[2019-10-05 09:57] 375gnu commented on #371
@munix9 no, for GNU/Linux side most changes are tested already, so no need to waste time building them

[2019-10-05 10:46] pirogronian commented on #371
@munix9 Thanks. But it would be good to mention it in installation instruction.

[2019-10-06 04:34] eyvallah commented on #371
@375gnu minor fixes are applied for the Mac build, see #432 . also the binary is put in the release section.

[2019-10-08 22:25] SevenSpheres opened #437 "Re-add SkyPlane reference frame"
Back in 2010 Andrew Tribick added a "SkyPlane" reference frame to the Celestia code for use with exoplanet orbits - [source](https://celestia.space/forum/viewtopic.php?f=10&t=15735).

A few months later he removed it because of some issues. I think it should be re-added for version 1.7, since it does work correctly for exoplanets. ("Incidentally it looks like the extrasolar planets orbits we've go

[2019-10-08 22:35] SevenSpheres opened #438 "Alexell's splash image"
In 2016 Alexell made a new Celestia splash image (last one in [this](https://celestia.space/forum/viewtopic.php?p=135210#p135210) post). Should it be used in version 1.7?

[2019-10-09 09:49] 375gnu commented on #438
Qt has longstanding issues with transparent images. It doesn't support 8bit transparency, so in some cases we have solid black colour instead of transparency. If somebody fixes our Qt splashscreen, we'll consider including one of those images.

[2019-10-09 12:55] #417 closed

[2019-10-09 14:54] 375gnu commented on #371
@dlshcbmuipmam do you know how to enable  "Disable display scaling on high DPI setting"  option to to make native win UI compatible with high DPI?

[2019-10-09 21:44] SevenSpheres commented on #438
The current splash image also has transparency...are you saying it will need to change?

[2019-10-10 09:13] 375gnu commented on #438
@SevenSpheres yes, but the current image has quite small transparent border, while Alexell's one has large regions. So with the current one this issue is not much noticeable.

[2019-10-10 13:03] eyvallah commented on #334
closing this now, since it can already be configured to build celestia-qt in bundle.

[2019-10-10 13:03] #334 closed

[2019-10-10 20:30] #323 closed

[2019-10-10 22:00] SevenSpheres commented on #438
I don't see much of a difference in the size of the transparent regions. Doesn't really matter what splash image is used of course.

[2019-10-11 09:57] 375gnu commented on #438
I'll check it, I have that issue on my computer.

[2019-10-11 09:58] 375gnu commented on #438
We can vote on the forum:) And check Alexell's license for those images.

[2019-10-11 15:33] eyvallah commented on #371
high resolution icons are needed for macOS distribution, I wonder if we will just use the icon in the master branch for 1.6.2 also? @375gnu

current macOS icon is
![celestia128x128](https://user-images.githubusercontent.com/17924287/66664672-894c6e00-ec7f-11e9-98d1-cc9167f79713.png)

[2019-10-11 15:42] 375gnu commented on #371
I'm in favor of this.

[2019-10-11 15:55] 375gnu commented on #388
closing this as everything works fine now

[2019-10-11 15:58] #16 closed

[2019-10-11 15:59] 375gnu commented on #16
we provide *.deb and *.appimage through https://build.opensuse.org/package/show/home:munix9:unstable/celestia

[2019-10-11 16:01] #17 closed

[2019-10-11 16:02] #32 closed

[2019-10-11 16:07] Alexell commented on #438
@375gnu if necessary, you can use these images. They were made specifically for Celestia.

[2019-10-11 16:09] 375gnu commented on #438
@Alexell we need a clear license. I propose the same license we use for the code - GPLv2 or later

[2019-10-11 16:12] Alexell commented on #438
@375gnu ok i agree

[2019-10-11 21:35] SevenSpheres commented on #438
Actually, why not add a line like this to celestia.cfg:
`  SplashImage  "splash.png"`
Then the user can choose what splash image they want without having to rename/replace any files.
Celestia could even install with multiple images for the user to choose from.

It would also be nice to be able to put other windows in front of the splash screen.

[2019-10-11 21:37] SevenSpheres opened #441 "Double names"
In Celestia 1.7 the name of every object is shown twice, like "Earth / Earth".

[2019-10-11 23:26] SevenSpheres commented on #441
Question: Does the same thing happen in languages other than English? Is there a way I can change Celestia's language so I can check for myself?

[2019-10-12 12:46] 375gnu commented on #441
On 10/12/19, SevenSpheres <notifications@github.com> wrote:

No. And that's why we have missed this bug.

LC_MESSAGES=<lang code> celestia-qt

[2019-10-12 12:47] 375gnu commented on #438
On 10/12/19, SevenSpheres <notifications@github.com> wrote:

Good idea.

Why? The main idea of splash screens is that a user sees that an
application is working while it's not ready to interact with a user.

[2019-10-12 16:02] #441 closed

[2019-10-12 17:06] SevenSpheres commented on #441
Okay, issue is solved, but I'm still curious...

Where do I put this? I use Windows.

[2019-10-12 17:08] SevenSpheres commented on #438
Because if you're using Celestia with lots of addons, it takes a long time to load, and since the splash screen is always in front you can't do anything in other windows.

[2019-10-12 18:44] 375gnu commented on #441
so, open command terminal window (or just run `cmd.exe`) and type `set LC_MESSAGES=be` and press `Enter` (use your language instead of `be`) and then type `celestia-qt` and press `Enter`. `celestia-qt` must be in your `%PATH%` or before running Celestia type `cd <directory with celestia-qt.exe>`

[2019-10-12 18:45] 375gnu commented on #438
but it's not ready yet, what will you do?

[2019-10-12 19:19] SevenSpheres commented on #441
That doesn't work; when I do that Celestia starts but still in English. It doesn't matter since the issue is solved and "my language" is English, but maybe this is another thing to add to celestia.cfg?

[2019-10-12 19:30] SevenSpheres commented on #438
[I asked about this on the forum.](https://celestia.space/forum/viewtopic.php?f=4&t=19982)

[2019-10-13 17:18] SevenSpheres commented on #438
Renamed this issue because it's been derailed from Alexell's image...

Anyway 6 people (including **pirogronian**) agree with me that the splash screen shouldn't always be in front. **FarGetaNik** also notes that the latest 1.7 doesn't display the splash screen at all, but I assume this will be fixed?

[2019-10-13 17:41] 375gnu commented on #441
Alternatively you can set another language using windows' control panel (language and region, afair), but will change it globally.

[2019-10-13 19:10] pirogronian commented on #438
On my machine (Linux) there is no problem: splash screen can be hidden by other windows.

[2019-10-13 20:30] SevenSpheres commented on #438
I guess I'll wait until the splash screen is restored in the 1.7 Windows version and then see if this has been fixed.

[2019-10-14 07:36] olebole commented on #16
Hi,

I am from the [Debian Astro](https://blends.debian.org/astro) team.

Since the Debian files look quite good already: would you consider to maintain the package directly within Debian? This would allow people to install Celestia without any additional efforts in the standard way.

Best regards

Ole

[2019-10-14 10:05] 375gnu commented on #16
Hi Ole,

That's actually was my plan but when 1.7 is released. For an upcoming 1.6.2 version we still have the old issue with licenses for some textures. And for Unix-like systems 1.6.x provides glut and gtk2 interfaces only and I'm afraid Debian will drop it (gtk2) sooner or later.

[2019-10-16 22:09] SevenSpheres opened #447 "Improve spectral type parsing"
Celestia's spectral type parsing could be improved. Currently if a spectral type string has a character that "doesn't belong" (including spaces) Celestia ignores everything after it. For example, `G2(V)` is parsed as `G2` instead of `G2V`. This has already been fixed in [Luke's version of buildstardb.pl](https://github.com/LukeCEL/buildstardb).

[2019-10-16 23:59] SevenSpheres opened #448 "Star orbits don't show in 1.7"
See title

[2019-10-17 09:17] 375gnu commented on #448
They are not shown in earlier versions as well.

[2019-10-17 21:14] SevenSpheres commented on #448
They are for binary star systems.

[2019-10-17 21:16] SevenSpheres commented on #448
**375gnu**, please remove the "enhancement" label and add the "bug" label.

[2019-10-17 22:07] 375gnu commented on #448
@SevenSpheres look like data files are incorrect for ALF Cen in 1.7

[2019-10-17 22:28] SevenSpheres commented on #448
ALF Cen in 1.6.1 with orbits turned on:
![alfcen-orbit-161](https://user-images.githubusercontent.com/56284207/67052210-b58e4180-f0fa-11e9-8839-e938c1e19380.png)
ALF Cen in 1.7.0 with orbits turned on:
![alfcen-orbit-170](https://user-images.githubusercontent.com/56284207/67052211-b58e4180-f0fa-11e9-8a4b-27390dbfe3fe.png)
Same for any other binary/multiple system.

[2019-10-17 22:30] SevenSpheres commented on #448
I just noticed that if a star has planets its orbit is shown. For example, in the 16 Cygni system, 16 Cyg B's orbit is visible but 16 Cyg A's is not.

[2019-10-18 09:16] 375gnu commented on #448
That's funny but 1.6 doesn't have a code for star's orbits :) I dunno why this happens :)

[2019-10-18 12:05] 375gnu commented on #448
My fault, really it should be supported.

[2019-10-18 22:49] munix9 opened #456 "gtk build broken (1.7.0~)"
gtk build is currently broken (1.7.0~), probably caused by https://github.com/CelestiaProject/Celestia/commit/9401a4389efb05199c24449f112bd5626225e61a https://github.com/CelestiaProject/Celestia/commit/3cb4d3154d1fd1ac48cfd212c7b1c7a39b3e184b

all repositories are affected (except appimage, which only builds qt), eg.
https://build.opensuse.org/public/build/home:munix9:unstable/Debian_10/x86_64/cel

[2019-10-19 09:04] 375gnu commented on #456
I'll check, I haven't checked gtk for a while

[2019-10-19 09:33] 375gnu commented on #322
Looks like we lost @dlshcbmuipmam

[2019-10-19 10:17] #456 closed

[2019-10-19 17:14] SevenSpheres commented on #438
I'm not really sure what to do with this thread. Here's a checklist of things I've suggested doing; should I split them into other issues instead?
- [ ] Make it possible to override splash in Windows version
- [ ] Restore splash in QT version
- [ ] Add SplashImage line to celestia.cfg
- [ ] Add more splash images (e.g., Alexell's)

[2019-10-19 17:25] 375gnu commented on #438
in Qt version splash is searched in c:/Program Files (x86)/celestia/share/celestia/splash/splash.png, i.e. where celestia should be installed

[2019-10-19 17:25] 375gnu commented on #438
let's keep your suggestions here and reference it from pull requests

[2019-10-19 17:36] SevenSpheres commented on #438
In the QT version the splash screen is not displayed. Also, on Windows the above directory structure does not exist; splash.png is in the main Celestia directory. Should it be in share/celestia/splash instead?

[2019-10-19 17:37] 375gnu commented on #438
yes

[2019-10-19 17:46] SevenSpheres commented on #438
I created a directory share/celestia/splash and moved splash.png there. There is no change in the 1.7 QT version (i.e., still no splash screen). In the 1.7 Win version the splash screen is gone.

[2019-10-19 17:53] 375gnu commented on #438
ok, we'll need to handle it in both frontends

[2019-10-19 20:46] SevenSpheres opened #459 "Show dwarf planets and minor moons in right-click menu"
The right-click menu for the Sun lists planets, asteroids, comets, spacecraft, but not dwarf planets. Similarly, the right-click menus for planets list major moons but not minor moons.

[2019-10-19 21:06] LukeCEL commented on #447
Well, my buildstardb.pl only works because it actually deletes the special characters like the parentheses, before parsing them. I suppose we could do a similar thing in the stellarclass.cpp that the spectral class parser is originally from, but please, check my code for errors and such.

[2019-10-19 21:08] LukeCEL opened #460 "Add HR catalogue index"
Suggested [here](https://celestia.space/forum/viewtopic.php?p=146541#p146541) on the Celestia Forums: there should be an hrindex.dat file that stores HR catalogue designations in much the same way as hdindex.dat and saoindex.dat

[2019-10-19 21:24] SevenSpheres commented on #460
Also, celestia.cfg references a nonexistent "gliesexindex.dat". Luke thinks it was once there but later removed - does anyone know if that's the case?

[2019-10-19 22:51] SevenSpheres commented on #113
What exactly is wrong with the star colors? The "Blackbody D65" star colors should be fine.

[2019-10-19 22:59] SevenSpheres commented on #268
Why? Celestia isn't a spaceflight simulator; this would just be annoying.

[2019-10-19 23:29] SevenSpheres opened #461 "[low priority] Simulate warped space around compact objects"
Note: this is a low priority request, something for after the 1.7 release.

Compact objects - white dwarfs, neutron stars, and black holes - warp space around them, like in [this video](https://apod.nasa.gov/apod/ap190414.html). It would be nice to see this in Celestia. This would require being able to specify the mass of an object, and it looks like this has already been done in 1.7!

[2019-10-19 23:37] SevenSpheres commented on #460
**LukeCEL**, is it possible for you to make a gliesexindex.dat and see if it works with the current code?

[2019-10-20 02:21] LafuenteAstronomy commented on #461
That sounds like a very good idea. But it should not just apply to compact objects, if Celestia can make proper galaxy cluster and supercluster maps, then we should also apply the warping of space to the dense galaxies and galaxy clusters as well, since there are several galaxies and galaxy clusters that are so massive and full of Dark Matter that they can wrap space around them

[2019-10-20 03:42] lrm25 commented on #459
I can take this issue for qt and gtk.

[2019-10-20 09:19] pirogronian commented on #461
I'd definitely see it as option, maybe as a plugin, because, despite media rumors, the very existence of such a compact objects, as well as space bending, is highly questionable.

[2019-10-20 15:50] SevenSpheres commented on #461
**pirogronian**, the scientific consensus is that compact objects exist, and warp space (actually bend light rays) around them. This should be reflected in Celestia. If they don't exist, then what are objects like Sirius B, Lich, and M87* (the first two of which are already in Celestia)? As **LafuenteAstronomy** says warped space has been observed in galaxy clusters, what else do you think causes

[2019-10-20 15:53] SevenSpheres commented on #2
Any progress on this?

[2019-10-20 16:51] SevenSpheres opened #463 "Pluto's orbit"
In Celestia 1.7 Ceres, Haumea, Makemake, and Eris have purple orbits, but Pluto-Charon has a blue orbit (same as major planets). This is because Pluto-Charon is defined as a reference point, so the orbit color can't be specified. I see three ways to fix this:
1. Define the Pluto-Charon barycenter as an object instead of a reference point (what Celestia Origin does)
2. Specify the color of dwarf pl

[2019-10-20 17:36] pirogronian commented on #461
1. There is no such a thing like "scientific consensus". In science, especially astrophysics, true is the opposite: uncertainties, multiple different opinions and great surprises are routine.

2. So, observed "warps" could be various things: physical warping of distant objects or just gas refractions.

3. If you are curious about alternatives, feel free to read and comment here: https://celestia.s

[2019-10-20 17:44] SevenSpheres commented on #461
https://en.wikipedia.org/wiki/Scientific_consensus

Also, you didn't answer my question:

[2019-10-20 17:49] pirogronian commented on #461
I prefer scientific evidence rather than "agreement" among group of people called scientists. And please answer me in linked topic.

[2019-10-20 21:40] LafuenteAstronomy commented on #461
Maybe just for the sake of Celestia being based on "conventional" scientific consensus, you should just include the plugin. I do have my own theories of the Universe, that it's possibly older than 13.7 billion years because light from older than that period hasn't arrived yet, and it's possible that it'll never arrive at all, and that I also believe the Universe to be infinite, so possibilities of

[2019-10-20 23:31] SevenSpheres commented on #461
Celestia should reflect the scientific consensus, which is based on evidence.

Okay

[2019-10-21 00:53] SevenSpheres commented on #463
I implemented option 2 and commited it to my dwarfplanets-test branch, but it's not showing up.

[2019-10-21 06:20] 375gnu commented on #113
@SevenSpheres  I suppose the problem is with star textures. Better ask Celestia Origin team, it was reported by them.

[2019-10-21 06:21] 375gnu commented on #2
nope :)

[2019-10-21 06:28] 375gnu commented on #459
@lrm25 it would be great

[2019-10-21 06:35] 375gnu commented on #460
@LukeCEL do you know any sources besides simbad to retrieve this info?

[2019-10-21 06:37] 375gnu commented on #463
4. check that a reference point is a star's child, get its children and assign orbit's colour of the refpoint according to its children type.

[2019-10-21 18:16] 375gnu commented on #459
@lrm25 please add them to their own submenus, it wont be comfortable to anybody to look for any Saturn's moon among 82 entries.

[2019-10-21 18:56] #448 closed

[2019-10-21 21:23] SevenSpheres commented on #463
**375gnu**, that would still require changing the default color of dwarf planet orbits.

[2019-10-21 21:30] SevenSpheres commented on #113
Well you can use FarGetaNik's textures from Project Echoes until [better star rendering](https://github.com/CelestiaProject/Celestia/issues/2) is implemented.

[2019-10-21 23:08] SevenSpheres opened #467 "Spelling error"
The 1.7 preferences dialog says "Spacecrafts". It should be "Spacecraft".

[2019-10-22 09:18] 375gnu commented on #463
@SevenSpheres why?

[2019-10-22 09:22] 375gnu commented on #113
Actually data-related questions should be discussed with Celestia Origin team(ping @Askaniy).

[2019-10-22 21:35] SevenSpheres commented on #467
**375gnu**, this is not a bug, it is a simple typo.

[2019-10-22 21:47] SevenSpheres commented on #463
The default color for dwarf planet orbits is blue. Dwarf planets are defined with purple orbits in dwarfplanets.ssc (which makes sense, so we can tell dwarf planets from major planets), but it's impossible to change the orbit color for Pluto-Charon because it's a reference point. I listed three ways this can be fixed.

I think you were saying that the orbit color of a reference point (i.e. Pluto-C

[2019-10-22 21:50] SevenSpheres commented on #113
@Askaniy - FarGetaNik's star textures from Project Echoes match the Blackbody D65 star colors. In [this branch](https://github.com/SevenSpheres/Celestia/tree/startextures) I've added those textures and some others.

[2019-10-22 21:54] SevenSpheres commented on #78
@Askaniy, when will you finish updating textures and models? Only Phobos, Deimos, Jupiter and Saturn have been updated so far.

[2019-10-22 22:37] SevenSpheres commented on #461
Since there is an "[Ideas for post 1.7 era](https://github.com/CelestiaProject/Celestia/wiki/Ideas-for-post-1.7-era)" page I put this there. The issue can probably be closed until the final 1.7 release.

Also did no one see my suggestion about adding that page to Wikibooks?

[2019-10-22 22:42] SevenSpheres commented on #2
@Askaniy, are you able to make this texture?

[2019-10-23 09:16] 375gnu commented on #2
Such texture should be generated programmatically. I have a algorithm description and example of such texture but without halo, we agreed that galo is not needed as it's just an artifact.

[2019-10-23 09:17] 375gnu commented on #461
Wiki here is for internal conversation and decision making so there is no need to move it to wikibooks.

[2019-10-23 21:11] SevenSpheres commented on #461
[Here](https://en.wikibooks.org/wiki/Celestia/Development_Road_Map) is a similar, very old page on Wikibooks.

[2019-10-23 21:13] SevenSpheres commented on #2
So there is progress then!

[2019-10-23 22:33] SevenSpheres opened #470 "Show catalog names in search"
When searching for an object by pressing Enter and typing its name, catalog names (HIP, HD, and SAO) aren't shown. If [HR and/or Gliese cross-indexes](https://github.com/CelestiaProject/Celestia/issues/460) are added, these will also be interpreted as catalog names and not shown. Showing catalog names would make it easier to search for stars.

[2019-10-24 01:07] LafuenteAstronomy commented on #470
Well, how would showing catalog names in search work?

[2019-10-24 21:14] SevenSpheres commented on #463
Okay, you did my option 3. Maybe the addition to the start script could be in an addon?

[2019-10-24 21:26] 375gnu commented on #463
I don't think that start script is a good place for such changes. Actually it's worth to add new configuration options to allow control over orbit colors and other things.

[2019-10-24 21:27] SevenSpheres commented on #470
I'm not familiar with Celestia's source code, so I don't know.

[2019-10-24 21:43] LafuenteAstronomy commented on #470
Alright, let's just wait for 375gnu to reply to us and explain it. Though the AstroDB Branch would focus on making a proper, modular database for all objects with names, so it could be done in there

[2019-10-24 22:31] SevenSpheres opened #472 "Versioning policy"
There are some pretty big changes in the upcoming version, including AstroDB and the switch to the QT interface. Given this and the hiatus since the last version (1.6.1), should it be called Celestia 2.0? See also [Selden's comment on same](https://celestia.space/forum/viewtopic.php?p=146377#p146377).

[2019-10-25 10:47] 375gnu commented on #472
Qt was added in 1.6 actually. Regarding AstroDB we doubt that it will be merged before the 1.7 release.

Bumping version to 2.0 means that Celestia is not backward compatible with 1.x series.

From my side I'd suggest adopt other versioning policy adopted by large number of FLOSS projects: in stable releases use even second number, while odd number is for unstable releases. That way we can always

[2019-10-25 12:13] eyvallah commented on #472
I don't have strong opinions on versioning, there are apps with very slowly evolving number, and apps with progressive version numbers where a bump in major version doesn't mean a major change. personally I'd prefer 1.7.0

[2019-10-25 18:14] #463 closed

[2019-10-25 19:42] 375gnu commented on #467
@SevenSpheres why do you think it should be in singular here? All other objects are in plural as well.

[2019-10-25 21:16] SevenSpheres commented on #467
The plural of spacecraft is the same, like with aircraft. Spacecrafts is not a word.

[2019-10-25 21:21] SevenSpheres commented on #472
Oh okay. I thought it would be in 1.7 and make #460 unnecessary.

Does this mean the next version number will definitely not be 2.0? In this case the issue can be closed.

I don't think skipping numbers is a good idea.

[2019-10-25 21:46] SevenSpheres opened #475 "Additions to celestia.cfg"
Some things that could be added to celestia.cfg:

- [ ] SplashImage (see #438)
- [ ] Language (see #441)
- [ ] Label colors for all object types
- [ ] Orbit colors for all object types (see #463)

[2019-10-25 21:58] #407 closed

[2019-10-25 23:14] LukeCEL commented on #470
My thoughts: I actually prefer this because it prevents the search bar from being cluttered up with thousands of HIP, HD, or SAO names. However, I could be convinced the other way because the same thing happens with NGC and IC. Ultimately, though, I find this to be somewhat useful because I can distinguish between names that were defined using the HIP index vs. names that were defined using quotes

[2019-10-25 23:44] SevenSpheres commented on #470
I don't see the search bar being "cluttered" as a problem, but I do see some problems with catalog names not being shown:

1. It's easier to make typos when searching for catalog names
2. It confuses newbies (like in [this thread](https://celestia.space/forum/viewtopic.php?f=15&t=17942) where a user can't find HD 1461)

[2019-10-26 09:53] eyvallah commented on #472
@SevenSpheres i think he means the next release after 1.7 will be 1.8.

[2019-10-26 14:55] SevenSpheres commented on #463
Now I notice that Pluto-Charon has no label (but maybe this has been fixed now?)

[2019-10-27 02:30] lrm25 commented on #459
Pluto is contained inside a reference point, and with the way the code is written right now, it would require a code restructuring to include it in the sun's menu.  Should I ignore Pluto for now, or try restructuring?

[2019-10-27 09:30] 375gnu commented on #459
@lrm25 As you wish, I'm okay with the both options.

[2019-10-27 09:38] 375gnu commented on #463
No, it's not fixed. I'll take care of it.

[2019-10-27 19:44] lrm25 commented on #459
I'll put in an initial PR without Pluto, and then I'll see if I can restructure the code and include it later.

[2019-10-28 07:18] LafuenteAstronomy opened #480 "Search function and possible incomplete SAO index problem"
Hello! This is my first time stating an issue, so I may not know exactly how Celestia works.

I do have a certain problem with the search function in Celestia. When searching for stars in Celestia, theoretically, you can type "HIP", and then type any number up until 118,218. For example, I type HIP 12345:
![test image 1](https://user-images.githubusercontent.com/56778509/67658622-150b0d80-f995-11e

[2019-10-28 18:24] pirogronian opened #482 "AstroDB memory (and CPU) usage"
AstroDB is aimed at unifying database structure and enabling dynamic data loading/unloading. However, there are several disadvantages of my implementation, which I cannot overcome so far. This is, mainly, high memory usage. That's why I call for help, in any form - a suggestion or a code.

Possible memory load origins:

1. Common objects data, like name handling and position vector. However, their

[2019-10-28 19:24] 375gnu commented on #482
1) What benefit gives us object unloading?
2) list is slow, why not vector?
3) have you read the paper about openspace octree i pointed you?

[2019-10-28 21:57] SevenSpheres commented on #480
I think you mean GitHub ;-)

Not all SAO stars are in the HIP and TYC catalogs. I did find SAO 54322 though - try using Luke's cross-index files which I have in my repository [here](https://github.com/SevenSpheres/Celestia-stars).

I already have an issue open about this [here](https://github.com/CelestiaProject/Celestia/issues/470).

[2019-10-29 07:07] pirogronian commented on #482
1. Paradoxically, to handle larger data.
2. Because for this purpose vector would be tremendously slow. These lists are primarily due to handle Lua `celestia:getstars` and `celestia:getdsos` (which needs serious optimisation anyway). I needed container that could easly add, remove and iterate over items, but without need to arbitrary lookup.
3. I remember something of it, so probably yes. But appa

[2019-10-29 20:00] 375gnu opened #486 "Incorrect markers in MultiView mode"
See https://celestia.space/forum/viewtopic.php?f=3&t=17263

[2019-10-29 20:09] 375gnu commented on #486
![bug486](https://user-images.githubusercontent.com/1612688/67804971-145f9d80-faa1-11e9-8adb-ef038090d125.png)

[2019-10-30 06:53] #486 closed

[2019-10-30 07:38] 375gnu commented on #472
@pirogronian

[2019-10-30 09:18] #309 closed

[2019-10-30 19:19] pirogronian commented on #472
I'm unsure about all that. Technically I'd choose single number version, with alpha, beta and release candidate status. But it would quickly lead to big numbers which looks ugly... On the other hand, any more complex versioning system needs assumptions about developement proces. Despite being developer (not much active recently, however), I cant imagine how development will proceed even in nearest

[2019-11-02 17:46] SevenSpheres opened #489 "Reference points aren't labeled"
Mentioned [here](https://github.com/CelestiaProject/Celestia/issues/463) and [here](https://github.com/CelestiaProject/Celestia/pull/478); not fixed in the November 1 build.

Note that orbits and labels of reference points should only be shown if they have:
`    Visible true`
`    Clickable true`
(or at least this is how it works in 1.6.x)

[2019-11-02 18:45] 375gnu commented on #489
could you provide refpoints with labels shown in 1.6.1?

[2019-11-02 22:34] SevenSpheres commented on #489
![pluto-label-161](https://user-images.githubusercontent.com/56284207/68077734-86303380-fd8e-11e9-9bd7-729d0354bab4.png)

[2019-11-02 22:43] pirogronian commented on #482
From Celestia/src/celengine/octree.h:

// There are two classes implemented in this module: StaticOctree and
// DynamicOctree.  The DynamicOctree is built first by inserting
// objects from a database or catalog and is then 'compiled' into a StaticOctree.
// In the process of building the StaticOctree, the original object database is
// reorganized, with objects in the same octree node all placed

[2019-11-03 21:05] 375gnu commented on #489
Are you using standard data files? In default 1.6.1 it's not shown.

[2019-11-03 21:39] SevenSpheres commented on #438
So in the latest build (Win version) the splash screen can be overridden, but it doesn't work right. When another window is brought in front of the splash, instead of the splash going behind just that one window, it goes all the way to the back, i.e. behind all windows.

[2019-11-03 21:42] SevenSpheres commented on #489
The screenshot is basic unmodified 1.6.1

[2019-11-03 21:53] SevenSpheres opened #490 "Missing Web Info for stars and DSOs in QT"
In the Celestia Windows version, selecting "Info" from the right-click menu of **any object** will open the web page defined in its `InfoURL` parameter. In the QT version, the info panel lists "Web Info" for objects defined in SSC files, linking to the same web page, but for stars and DSOs this is missing.

(Yes, I know there are no stars defined with an `InfoURL` parameter in Celestia's default f

[2019-11-03 21:54] 375gnu commented on #438
None of us uses windows. See #322 . Don't expect native win frontend to work 100% correctly.

[2019-11-03 22:00] 375gnu commented on #490
You are the first who cares about Qt frontend: https://celestia.space/forum/viewtopic.php?f=10&t=19866&p=145734#p145734

[2019-11-04 20:49] 375gnu commented on #489
Quite interesting, that only windows native version shows them.

[2019-11-06 09:33] #489 closed

[2019-11-10 23:20] SevenSpheres opened #500 "Celestia logo not showing in README.md"
Recently the Celestia logo has disappeared from README.md, showing only a "broken image" icon. This doesn't seem to be because of any changes to README.md. When I click on "Open Image" I get [this](https://camo.githubusercontent.com/8d4065470e30d95d57f6412aa51cef83200745e5/68747470733a2f2f63656c657374696170726f6a6563742e6e65742f696d672f616c62756d732f323031372f30342f32302f39613537643866323161313239

[2019-11-10 23:29] Anthony-B-Russo10 commented on #500
It disappeared sometime after my edit to it.

[2019-11-10 23:59] SevenSpheres commented on #500
But it had nothing to do with your edit; if you look at a version of README.md before your edit to it the image is still missing.

[2019-11-11 00:29] Anthony-B-Russo10 commented on #500
Then I don't know what happened.

[2019-11-11 00:50] eyvallah commented on #500
hmm. it's showing for me. probably the url should be changed, i think celestiaproject.net is the old domain

[2019-11-11 10:42] 375gnu commented on #500
first, it's better to update url to point to celestia.space. second, the actual problem is caused by ddos protection enabled.

[2019-11-11 17:38] SevenSpheres commented on #500
I did this [here](https://github.com/SevenSpheres/Celestia/tree/fix-readme).

So how can we work around this?

[2019-11-11 17:42] 375gnu commented on #500
I'm waiting for PR :)

Move the image to Github

[2019-11-11 17:59] 375gnu opened #501 "Fixed pipeline removal"
- [x] Remove GL1.x renderers
- [x] Star field as scaled disks / fuzzy points
- [x] Star field as points - #535
- [x] Planet rings - #271
- [x] Renderer::renderMarker - #308
- [x] Globular clusters - #312
- [x] Terminator - #314
- [x] Renderer::renderSelectionPointer, ecliptic line - #497
- [x] Renderer::renderObject - #499
- [x] SkyGrid - #532
- [x] Galaxy - #529
- [x] Renderer::renderObjectAsPoin

[2019-11-11 18:07] 375gnu commented on #461
Celestia-Sci implementation: http://forum.celestialmatters.org/viewtopic.php?f=11&t=715

[2019-11-11 18:29] SevenSpheres commented on #500
How do I do that?

[2019-11-12 01:20] #500 closed

[2019-11-13 00:54] SevenSpheres opened #504 "Celestia should be case-sensitive"
Celestia is currently case-insensitive, which can cause problems. For example, there are stars called both `A Cen` and `a Cen` (note that I'm **not** talking about `ALF Cen`), but either string always selects `a Cen`. This causes worse problems when trying to define a multiple star system with both an "AB" barycenter and an "Ab" component. The search box should remain case-insensitive though, so t

[2019-11-13 00:58] SevenSpheres commented on #461
Changed to a less awkward title

[2019-11-14 22:17] SevenSpheres opened #507 "Standardize Celestia icon"
[This icon](https://github.com/CelestiaProject/Celestia/blob/master/celestia-logo.png) should be used in all front ends.

[2019-11-15 14:48] eyvallah commented on #507
yes, 1.6.x branch on Mac has changed to use this icon now, we should replace the current icon on other platforms too. generating an icon file should be trivial

[2019-11-15 20:55] Panterstruck commented on #507
Sigh, still sad to see the icon I was forced to make used but let me know if you need my icon file or higher res files. Or ideally use a better quality redesign of that icon.

But yeah I agree, would be nice if the actual appication used the icon too.

[2019-11-15 21:11] Anthony-B-Russo10 commented on #507
FarGetaNik, why don't you try and use your icon. https://celestia.space/forum/viewtopic.php?f=5&t=19914&p=146117&hilit=icon#p146117

[2019-11-15 22:18] SevenSpheres commented on #507
I actually prefer the icon that is obviously Saturn to the "simple" one.

[2019-11-15 22:26] Anthony-B-Russo10 commented on #507
With the way IS GUIs are now, that simple icon is a better fit then the current Windows XP and OS X 10.5 Leopard icons.

[2019-11-15 23:27] LafuenteAstronomy commented on #507
How about we just make the circle in the center the Sun? Then the "C" will just be greyish It'll be much simpler than the Saturn one, which I understand why Pantherstruck does not like seeing

[2019-11-15 23:28] LafuenteAstronomy commented on #507
Which just so happens to look like the icon in the link, but just make it more color-accurate

[2019-11-15 23:34] SevenSpheres commented on #507
Well if more people like the "simplified" icon, that can be used instead. The point is to use the same icon in all frontends. Maybe we can have a poll for which icon to use.

[2019-11-16 09:17] eyvallah commented on #501
will we see gles support soon after this list is done?

 I tried to compile for iOS, although GLEW is not available on iOS, but it was interesting to see what code throws error when compiling for iOS, it's an amazingly short list

glu function
gluOrtho2D
gluBuild2DMipmaps
gluPerspective
gluProject
gluLookAt

wordexp, wordfree is not available on iOS, well you don't really have a home directory on

[2019-11-16 11:41] 375gnu commented on #501
yeah, glu is not available for ES and modern GL. gluBuild2DMipmaps can be easily replaced with glGenerateMipmap. Other functions are more complicated to replace. ES is more like core profile of modern desktop GL, it doesn't support matrix functions so they should be replaced with glm or our own alternatives. We already have LookAt in master, and I have Ortho2D in one of my wip branches.

[2019-11-16 18:39] Panterstruck commented on #507
I did refine that icon a bit more for Project Echoes 0.2:

![celestia-c13](https://user-images.githubusercontent.com/57594937/68997612-b4dafd80-08a8-11ea-9124-e7a98b8a3c12.png)

Hm i can't upload icon files directly.

A star in the center might work too, but iirc thats very similar to Celestia Origins icon.

[2019-11-16 20:57] SevenSpheres commented on #507
How do I make a poll on the forum?

[2019-11-17 12:12] Panterstruck commented on #507
Good question. Maybe only admins can?

[2019-11-17 12:28] Panterstruck opened #512 "Orbit barycenters of minor bodies given random object classes"
So this is an issue I've encountered both in 1.6.1 and 1.7. If you define a barycenter for a binary (minor) planet, Celestia will randomly give this reference point an object class. For example, while defining a barycenter for a binary TNO Celestia treats it as if it had the class "moon" according to labels and orbits. This does not occur to every minor planet defnined this way and might even chan

[2019-11-17 19:07] SevenSpheres opened #513 "Add units for mass"
One thing that has been added in Celestia 1.7 is the ability to specify units in SSC files. For instance, defining a planet's orbital period in days:

`Period<d> 1.51087637`

or its radius in Earth units:

`Radius<rE> 1.121`

Another thing that has been added is Celestia displaying a planet's mass as well as calculating its density, if there is a line like this:

`Mass 1.017`

But it's impossible

[2019-11-17 20:15] LukeCEL opened #514 "Depth sorting for nebulae"
Celestia 1.6.1 doesn't hide nebulae behind other nebulae, but according to the order they're drawn.

![nodepthsort](https://user-images.githubusercontent.com/45546434/69013352-fcb36080-094c-11ea-9e1a-7d75a658024f.png)
Here's an image showing this. M 42 in the center much farther than M 27 in the foreground, but it looks like it's much smaller and in front of M 27.

[2019-11-18 00:08] Anthony-B-Russo10 commented on #512
There is also the temperature problem with planets orbiting barycenters.

[2019-11-18 00:28] SevenSpheres commented on #512
There is also the `TempDiscrepancy` parameter that can be used to correct this.

[2019-11-20 18:45] 375gnu opened #519 "Symlinks handling is broken"
reported in https://celestia.space/forum/viewtopic.php?p=146981#p146981:

[code]

[2019-11-20 19:24] 375gnu opened #521 "current limit for objects drawn as point is quite low"
so sometimes when a sphere is drawn we see square instead of circle

[2019-11-20 20:27] 375gnu opened #522 ""goto object" dialog should be focused"

[2019-11-20 20:37] #522 closed

[2019-11-20 20:38] 375gnu commented on #522
it has "ok" button activated only if we have a selection

[2019-11-21 01:13] SevenSpheres opened #523 "Appveyor artifacts don't work"
When trying to run any of the Celestia binaries from the "artifacts" section of [Appveyor](https://ci.appveyor.com/project/375gnu/celestia/history) (both QT and Windows versions), I get this error message:

![celestia-error-crop](https://user-images.githubusercontent.com/56284207/69291380-54a5cd80-0bc0-11ea-99e1-85f3a8af81d0.png)

The earlier builds from [Bintray](https://bintray.com/celestia/cele

[2019-11-21 01:17] eyvallah commented on #523
I guess it’s due to the change in font rendering? You might need freetype.dll and a ttf font configured to run the artifact. @375gnu

[2019-11-21 01:42] SevenSpheres opened #524 "Globular clusters too bright?"
In Celestia 1.7 many (all?) globular clusters are visible from the Solar System as reddish points. In Celestia 1.6.1 this is not the case. I'm not sure if this is actually a problem.

View towards the galactic center from Sol in 1.6.1:
![mwcenter-161](https://user-images.githubusercontent.com/56284207/69293083-19f26400-0bc5-11ea-9cdb-3d485acf411f.png)
and in 1.7.0:
![mwcenter-170](https://user-ima

[2019-11-21 01:44] SevenSpheres commented on #480
@375gnu, this issue can probably be closed, since one thing is a non-issue and the other is a duplicate.

[2019-11-21 02:30] SevenSpheres commented on #166
Might as well mention here:
Web Info for stars and DSOs (already there for planets; see #490)
Descriptions for all object types (see [this forum thread](https://celestia.space/forum/viewtopic.php?f=10&t=19866))

[2019-11-21 02:37] SevenSpheres commented on #507
You know what, I do like the new icon. I still want to make a poll though.

[2019-11-21 02:39] SevenSpheres commented on #507
You know what, I do like the new icon. I still want to make a poll though.

[2019-11-21 08:47] 375gnu commented on #523
Yes, freetype is required. Please wait until I create a new full build.

[2019-11-21 11:19] 375gnu commented on #523
Actually freetype is not used yet, cause appveyor.yml has an error :) but i still think that the problem is with vc runtime. @SevenSpheres do you really have it for 32bit (x86) system?

[2019-11-21 22:12] SevenSpheres commented on #523
Both x64 and x86.

[2019-11-21 23:03] SevenSpheres opened #526 "Can't type some characters in search"
In Celestia 1.6.1, when the search box is open (by pressing Enter), pressing any key will type into the search box. In Celestia 1.7, it's impossible to type brackets in the search box; regardless of whether the search box is open, typing brackets will always adjust the limiting magnitude. This may also be the case for other characters; I haven't tried pressing every key.

This actually is a proble

[2019-11-21 23:56] SevenSpheres commented on #523
@Anthony-B-Russo10 @LafuenteAstronomy @Panterstruck, anyone else who uses Windows - do these binaries work for you?

[2019-11-22 01:05] Anthony-B-Russo10 commented on #523
![2019-11-21 (3)](https://user-images.githubusercontent.com/57239744/69389404-e8979800-0c99-11ea-8c36-c99885109bd3.png)
![2019-11-21 (2)](https://user-images.githubusercontent.com/57239744/69389406-e8979800-0c99-11ea-8660-c693d3d52fff.png)
I get these errors, the builds of 1.7.0 I have work, but on my main computer crash on my main laptop and don't work on the others due to software incompatibilit

[2019-11-22 02:41] SevenSpheres commented on #523
It's a _different_ error message. Odd.

[2019-11-22 02:43] Anthony-B-Russo10 commented on #523
Yeah.

[2019-11-22 03:06] SevenSpheres commented on #523
Hmm...it's having problems with "fmt.dll". Make sure you have the latest version of that file (from the September 3 build on Bintray).

[2019-11-22 03:07] Anthony-B-Russo10 commented on #523
I'think so.

[2019-11-23 12:14] Panterstruck commented on #507
Glad to hear that. It's just my current result tho. Importantly I think the icon should not feature texture details or harsh shading like th current one, anything else im up for debate. Just one thing that many have commented on, "realistic" colored Saturn looks too bland as an icon. You'd want some contrast in colors.

[2019-11-23 22:22] LafuenteAstronomy commented on #524
Come to think of it, the typical GC model also looks too circular and feels small to the eye. Maybe there should be several variants or models of GC's based on their diameter and star count.

[2019-11-23 23:22] Anthony-B-Russo10 commented on #524
Agreed.

[2019-11-23 23:38] SevenSpheres commented on #524
They're called "globular" clusters for a reason.

The `CoreRadius` and `KingConcentration` parameters change the appearance of GCs. Try looking at lots of them, they do look different. What Celestia _does_ need is better _galaxy_ rendering (as Celestia.sci has implemented).

[2019-11-24 20:52] SevenSpheres opened #531 "[post 1.7] Allow reloading addon files"
Note: this is probably also something for after the 1.7 release.

It should be possible to "reload" Celestia addon files while Celestia is running. Then addon developers (such as myself) wouldn't need to restart Celestia after making changes to an addon file.

[2019-11-24 20:56] Panterstruck commented on #531
Yes this is desperately needed. You cant imagine how many hours i have wasted restarting celestia to check my addon changes.

This goes a step further but allowing to change certain parameters you would define in ssc files in celestia itself would help me save so many headaches. Reloading addon files is a more straight forward way to archieve this tho i guess.

[2019-11-24 21:05] Anthony-B-Russo10 commented on #531
Same goes for me, this is needed.

[2019-11-24 21:33] 375gnu commented on #531
In 1.7 you can use load_fragment CELX function

[2019-11-24 21:35] Anthony-B-Russo10 commented on #531
Ah

[2019-11-25 01:00] SevenSpheres commented on #531
What I'm asking for is the ability to edit an .ssc, .stc, or .dsc file, save it, and then re-load it into Celestia without restarting Celestia. (but that's for after 1.7)

[2019-11-25 01:11] Anthony-B-Russo10 commented on #531
Well 1.7.0 at least.

[2019-11-26 09:53] shujaatak opened #534 "Build instructions"
Where can I find build instructions for Windows?
Is there any step by step guide/tutorial?
In most Github repositories I find the build instructions/links in the Readme file or in Wiki but I couldn't find them in Celestia repository.

[2019-11-26 09:55] shujaatak commented on #534
Clear and easy build instructions/method would attract more developers to contribute to Celestia.

[2019-11-26 10:12] eyvallah commented on #534
yes I agree. Currently you can resort to the INSTALLATION file in the root directory for building.

We will need to rewrite that file in markdown to make it more friendly

[2019-11-26 11:41] 375gnu commented on #534
Please refer to https://github.com/CelestiaProject/Celestia/blob/master/INSTALL, both MSVC and GCC (Mingw) are supported.

[2019-11-26 12:25] shujaatak commented on #534
IMHO build method described here  https://github.com/CelestiaProject/Celestia/blob/master/INSTALL is so complex and time consuming that some developers wouldn't even think to try to build the Celestia by themselves leave aside contributing. This method is so discouraging.
IMHO all ThirdParty libs should be integrated in Celestia repository which could be downloaded using  `git clone --recursive ht

[2019-11-26 17:05] 375gnu commented on #534
I would like to see how you integrate GNU gettext, without official support for MSVC and CMake, GLEW (autogenerated, so it requires 2 stage build), lua and libpng. I also would like to see how you recompile Qt every time you change the main CMakeList.txt or pass another option to CMake.

![popcorn](https://user-images.githubusercontent.com/1612688/69655602-f8432200-1087-11ea-89fd-0c6ead9b5030.jpg)

[2019-11-28 23:21] SevenSpheres commented on #322
@nmoschkin @ironywrit (which account are you using?) please join the Celestia development team!

[2019-11-29 08:54] 375gnu opened #541 "Sun halo in different starfield rendering modes"
Both in 1.6 and 1.7 versions. Depending on starfield's style a sun halo either present or not:
No halo with scaled disks:
![disks](https://user-images.githubusercontent.com/1612688/69856079-da4f0a80-129d-11ea-8fc5-e8ac7784ca24.png)
Halo present with points and fuzzy points:
![fuzzy](https://user-images.githubusercontent.com/1612688/69856265-4cbfea80-129e-11ea-9b07-dd609a4804b1.png)
![points](https

[2019-11-29 08:57] 375gnu opened #542 "Frustum cuts part of planet if it's LODSphareMesh"
cel://SyncOrbit/Sol:Mars:Curiosity/2019-11-29T08:58:58.22608?x=exzPv8///////////////w&y=HG7FcfX//////////////w&z=R9pp5xQ&ow=-0.823087&ox=0.0355385&oy=-0.560108&oz=-0.0868586&select=Sol:Mars:Curiosity&fov=34.8847&ts=0.5&ltd=0&p=0&rf=8455783187&lm=2&tsrc=0&ver=4

cel://SyncOrbit/Sol:Mars:Curiosity/2019-11-29T08:59:13.71741?x=fda/MxI&y=aVB4ZP7//////////////w&z=apWqbDI&ow=-0.975708&ox=-0.121786&oy=0.1

[2019-11-29 08:57] 375gnu commented on #542
Doesn't present in 1.6, but present in all 1.7 versions.

[2019-11-29 14:03] LafuenteAstronomy commented on #524
I meant that they look too circular and not spherical, since though the model is 3D, it isn't fully rendered to the point it actually looks like a sphere. Besides, a few globular clusters don't really look spherical at all, such as Mayall II and Omega Centauri, which look more ellipsoidal (Which makes sense, as both of them are remnants of the galactic cores of dwarf galaxies that were cannibalize

[2019-11-29 15:19] LafuenteAstronomy commented on #524
Well, honestly, it didn't feel that way to me. I do think the models themselves can be improved, or better yet, perhaps add some stars just enough to make it have a population

To that I agree. Current galaxy rendering is so dull at normal ambient, but increase the brightness, and it will become too bright. What can be done is to improve the default galaxy model to be even better than it is now, a

[2019-11-29 18:43] SevenSpheres commented on #541
solution: implement #2

[2019-11-29 19:16] SevenSpheres opened #543 "Add SemiAxes parameter for globular clusters"
As @LafuenteAstronomy said in #524, some globular clusters are ellipsoidal.

I'm not sure how globulars look "too circular and not spherical", or how to fix that.

[2019-11-29 19:20] SevenSpheres opened #544 "[post 1.7] Improve galaxy and globular rendering"
Note: this is also something for after the 1.7 release.

See #524, and celestia.Sci

[2019-11-29 19:41] SevenSpheres commented on #542
Those URLs don't work in 1.6.1, but it does have the same problem.

[2019-11-29 20:07] LukeCEL commented on #544
Maybe we should split this into several issues, since there are several problems with galaxy and globular rendering right now.

[2019-11-29 20:12] SevenSpheres commented on #544
If you can list specific problems I can make a checklist and/or additional issues.

[2019-11-29 21:17] LukeCEL opened #545 "1.7 build: Planet rings don't show"
Planetary rings don't seem to ever show, even when I have "planet's rings" turned on.

In fact, the "planet's rings" button seems to just toggle the ring shadows. The rings shadows only appear when both the "ring shadows" and "planet's rings" are turned on.

Here's a screenshot:
![saturnringless](https://user-images.githubusercontent.com/45546434/69890326-0f218880-12c3-11ea-901f-3409370dc711.png)

[2019-11-29 21:59] SevenSpheres commented on #545
Rings show for me, so I guess this is a Mac-specific bug.

[2019-11-29 22:14] LukeCEL commented on #544
GLOBULAR CLUSTERS:
- [ ] Individual sprites don't look very much like the stars in Celestia—they look too dim and dull.
- [ ] Some sprites look green, which shouldn't happen. It seems to depend on the KingConcentration parameter, and it's most obvious when KingConcentration ≈ 0.90. For an example, take a look at NGC 6712:
![ngc6712](https://user-images.githubusercontent.com/45546434/69891594-93780

[2019-11-29 23:23] LukeCEL commented on #544
- [ ] Globular clusters are too bright? #524 That being said, I can't seem to reproduce this on my build—they look fine to me.

GALAXIES:
- [ ] Elliptical galaxies don't look very similar to what they should look like. They should have a smooth, featureless profile and have a yellowish tone.
- [ ] Lenticular galaxies as well—they're quite diverse in appearance, but in general, they don't look as b

[2019-11-30 00:12] SevenSpheres commented on #524
@LukeCEL can't reproduce this issue - it may be Windows-specific.

[2019-11-30 00:25] SevenSpheres commented on #544
@LukeCEL I put your checklist in the OP. @375gnu should I split these out into separate issues or leave them here?

[2019-11-30 00:28] SevenSpheres commented on #543
This could possibly also be added for galaxies:

[2019-11-30 00:56] LukeCEL commented on #545
Okay. I recompiled the entire thing, and now the rings show. This time I didn't run `git submodule update --init` but other than that, I have no idea what could have possibly made the rings disappear.

[2019-11-30 00:56] #545 closed

[2019-11-30 09:29] 375gnu commented on #542
@SevenSpheres just change `ver=4` to `ver=3` and they will work in 1.6. Could you also provide URL and screenshots for 1.6.1?

[2019-11-30 09:36] 375gnu commented on #544
Let's have them all together for a while.

t00fri had an argue with @claurel regarding this issue you can try to find it on the forum.

[2019-11-30 18:08] SevenSpheres commented on #542
With the same URL changed to `ver=3` I see this:

![issue542](https://user-images.githubusercontent.com/56284207/69904246-9c1b1f00-1361-11ea-8538-d1982e47fd4f.png)

It doesn't look exactly the same, but the surface of Mars disappears at that angle.

[2019-11-30 18:09] LukeCEL commented on #544
Yeah, I saw that argument, but I couldn't really tell what he was saying. I think I might ask him on the Celestial Matters forums, but even the CM forums are having problems:
![image](https://user-images.githubusercontent.com/45546434/69904268-a2fe5d80-1372-11ea-85cd-ec03cc29d305.png)

[2019-11-30 18:15] LukeCEL commented on #543
Just saying: we don't know the true dimensions of any globular clusters or galaxies, since we can only look at them from one direction. All we have is the projected ellipticity parameter, which is defined as (a-b)/a, where a is the longer axis and b is the shorter axis of the ellipse.